/* Reset default margin and padding */
body,
h1,
h2,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 32px;
    font-family: "Ysabeau SC";
}

header h2 {
    font-size: 24px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

main h2 {
    font-size: 28px;
    color: #007bff;
    margin-bottom: 10px;
    font-family: revert;
}

main p {
    font-size: 16px;
    margin-bottom: 20px;
}
