body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.career-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333333;
    margin-bottom: 30px;
    font-family: "Ysabeau SC";
}

h2 {
    color: #666666;
    margin-bottom: 15px;
}

.internship {
    margin-block: 30px;
    background-color: #ffffff;
    border-radius: 8px;
}

.internship-title {
    font-weight: bold;
    font-size: 20px;
    color: #333333;
    margin-bottom: 10px;
    font-family: "Roboto Slab", serif;
}

.internship-details {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: #666666;
    margin-bottom: 0;
    list-style-type: disc;
    padding-left: 20px;
}

.projects h2 {
    font-weight: bold;
    font-size: 20px;
    color: #333333;
    margin-bottom: 10px;
    font-family: "Roboto Slab", serif;
}

.project-item {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: #666666;
    margin-bottom: 0;
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
}
