/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
.header{
    font-size: 3rem;
    text-align: center;
    padding: 1.2rem;
    border-bottom: 0.2rem solid gray;
}
.content{
    font-size: 1.1rem;
}
.program-card{
    margin: 20px;
}
.card-text{
    text-align: center;
    padding: 1.2rem;
    font-size: 1.3rem;
    font-weight: 900;
}
.hero .imgs{
    padding: 1.3rem;
    justify-content: center;
}
.hero img{
    justify-content: center;
    width: 70%;
}
.hero .apply-btn{
    margin-left: 30%;
}
.list ul li{
    font-size: 17px;
}
/* .language{
    position: relative;
    width: 160px !important;
    margin-left: 8px;
    padding: 8px;

} */
.gtranslate_wrapper {
    position: absolute;
    top: 60px; 
    right: 10px;    
}