.user-details {
    text-align: center;
    padding: 2rem;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.user-details h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.user-details input[type="file"] {
    display: none;
}

.user-details #resumeInput + label {
    display: inline-block;
    padding: 5px 12px;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.user-details #resumeInput + label:hover {
    background-color: #2980b9;
}
