body {
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#singupToast {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px; 
}

.signup-container {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
}

.signup-head {
  text-align: center;
  /* font-family: serif; */
  color: #465684;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 8px;
  color: #586ba6;
}

input {
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #586ba6;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #465684;
}

.lines-text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 10px;
  margin-block: 6px;
  font-size: 14px;
  font-weight: 600;
  color: #292929;
}

.lines-text::before,
.lines-text::after {
  content: "";
  height: 1px;
  background-color: #878787;
  flex: 2 1;
  margin: 0 10px;
}
.lines-text span {
  background-color: transparent;
  position: relative;
  z-index: 1;
}

.bottom-heading {
  margin-block: 10px;
  font-size: 14px;
  text-align: center;
  color: rgb(0, 0, 0);
}

.bottom-heading span {
  font-weight: 600;
  padding-inline: 4px;
}

.bottom-heading span a {
  text-decoration: none;
  color: #465684;
}
