@import url("https://fonts.googleapis.com/css2?family=Ysabeau+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belanosima&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital@1&family=Source+Sans+3:wght@400;600;700&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  background-color: #f0f0f0;
}

.apply-btn {
  display: flex;
  margin: 0 auto;
  width: fit-content;
  align-self: center;
  text-align: center;
  font-weight: 600;
  color: white;
  border-radius: 0.3rem;
  padding: 0.5rem 0.7rem;
  cursor: pointer;
  font-size: 1.2rem;
  /* background-color: #5c3d84; */
  background-color: #586ba6;
  font-family: "Ysabeau SC", sans-serif;
}

.apply-btn a {
  text-decoration: none;
  color: white;
}

.apply-btn:hover {
  background-color: #465684;
  transition: 0.3s ease-in-out;
}

.apply-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Navbar */

.navbar {
  box-shadow: 0px 2px 6px #dddddd;
  padding-block: 1rem;
}

.container-fluid {
  padding-inline: 2rem;
}

.brand {
  padding-left: 1rem;
}

.brand img {
  width: 200px;
}

.navbar-collapse {
  justify-content: center;
}

.navbar-nav {
  gap: 2rem;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none !important;
}

.navbar-nav .nav-item a {
  font-size: 1.1rem;
  font-weight: 500;
}

.login-btn .nav-link {
  color: white;
}

.login-btn .nav-link:hover {
  color: white;
}

.login-btn {
  border: 1px solid #586ba6;
  border-radius: 0.3rem;
  padding: 0.1rem 0.5rem;
  background-color: #586ba6;
}

.login-btn:hover {
  background-color: #465684;
  transition: 0.3s ease-in-out;
}

/* Hero Section */

.hero-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 4rem 2rem 4rem;
  background: url("../assets/landingBG.png") no-repeat bottom / cover;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 0rem 0 5rem;
}

.hero ul {
  padding: 0;
  list-style: disc;
  list-style-position: inside;
}

.hero ul li {
  font-size: 1.3rem;
  color: #6c6c6c;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.hero span {
  font-weight: 700;
  color: #000000;
  font-family: "Varela Round", sans-serif;
  margin-block: 0.6rem;
}

.hero-section .hero-tag {
  font-size: 1.8rem;
  color: #575757;
  font-family: "Varela Round", sans-serif;
}

.hero-section .card {
  border: none;
  box-shadow: 0px 0px 14px 5px rgb(0 0 0 / 8%);
}

.hero-section .card-title {
  color: #575757;
  font-family: "Roboto Slab", serif;
}

.hero-section .program-card .card-1 .card-middle {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hero-section .program-card .card-1 .card-middle .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.8rem;
}

.hero-section .program-card .card-1 .card-middle .left .tag-1,
.hero-section .program-card .card-1 .card-middle .left .tag-2,
.hero-section .program-card .card-2 .card-middle .left .tag-1,
.hero-section .program-card .card-2 .card-middle .left .tag-2 {
  background: #2a2a2a;
  color: #ffffff;
  font-weight: 500;
  padding: 0px 8px;
  border-radius: 0.3rem;
}

.hero-section .program-card .card-2 .card-middle {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hero-section .program-card .card-2 .card-middle .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.8rem;
}

.hero-section .program-card .card-text {
  font-weight: 500;
  color: #5a5a5a;
  font-family: "Roboto Slab", serif;
}

.hero-section .program-card img {
  width: 70%;
}

.hero-section .program-btn .demoBtn {
  background-color: #3c7dd7;
  color: white;
  border: 1px solid;
}

.hero-section .program-btn .demoBtn:hover {
  background-color: #2b69c1;
}

.hero-section .program-btn .curriculum-btn {
  background-color: #6279b3;
  color: white;
  border: 1px solid;
}

.hero-section .program-btn .curriculum-btn:hover {
  background-color: #546596;
}
.hero-section .program-btn .benefits-btn {
  background-color: #3c7dd7;
  color: white;
  border: 1px solid;
}
.hero-section .program-btn .benefits-btn:hover {
  background-color: #2b69c1;
}

/* Card Section */

.card-section {
  display: flex;
  flex-direction: column;
  margin-block: 3rem;
}

.card-section .heading {
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-size: larger;
}

.card-section .cards {
  display: grid;
  padding: 4rem;
  gap: 3rem;
  grid-template-columns: repeat(3, 1fr);
}

.card-section .cards .card {
  padding: 2rem;
  border: none;
  border-radius: 1rem;
  box-shadow: 0px 0px 18px rgb(0 0 0 / 15%);
}

.card-section .cards img {
  width: fit-content;
}

.card-section .cards .card .head {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-bottom: 1.5px solid #e9e9e9;
  padding-bottom: 12px;
}

.card-section .cards .card .head h4 {
  width: fit-content;
  padding: 2px 8px;
  border-radius: 0.8rem;
  border: 1px solid #c3c3c3;
  margin: 0;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.card-section .cards .card .head span {
  font-weight: 500;
  font-size: 0.9rem;
}

.card-section .card .para p {
  font-family: "Montserrat", sans-serif;
  margin-top: 1rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: #787878;
}

/* Pitch  section */

.pitch-section {
  background-color: #293c66;
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
}

.pitch-section .top {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.pitch-section h3 {
  color: white;
  font-family: "Roboto Slab", serif;
}

.pitch-section h4 {
  color: white;
  font-size: 1.3rem;
  font-weight: 400;
}

.pitch-section .cards {
  display: grid;
  padding: 4rem;
  gap: 4rem;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.pitch-section .cards .card {
  padding: 2rem;
  border: none;
  border-radius: 1rem;
}

.pitch-section .cards img {
  width: 100%;
  border-radius: 0.5rem;
}

.pitch-section .cards .head {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pitch-section .cards .head span {
  font-weight: 500;
  font-size: 1.3rem;
}

.pitch-section .cards .para ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin-top: 1.2rem;
  font-size: 1rem;
  list-style: none;
  color: #646464;
  font-family: "Varela Round", sans-serif;
}

/* Curriculum Section */

.curriculum {
  display: flex;
  padding: 2rem 6rem;
  flex-direction: column;
}

.curriculum h5 {
  font-size: 1.3rem;
  font-weight: 400;
  font-family: "Varela Round", sans-serif;
}

.curriculum .top,
.curriculum .course-internship {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
  align-items: center;
}

.curriculum h3 {
  font-family: "Pacifico", cursive;
  text-align: center;
}

.curriculum .weeks-section {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.curriculum .courses {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 1rem;
}

.curriculum .week {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  gap: 1.1rem;
  border-radius: 0.4rem;
  background-color: #6279b3;
}

.curriculum .course {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  gap: 1.1rem;
  border-radius: 0.4rem;
  background-color: #887b48;
}

.curriculum .week h3,
.curriculum .course h3 {
  background: white;
  width: fit-content;
  align-self: center;
  color: #08122c;
  padding: 0.2rem 0.6rem;
  border-radius: 0.4rem;
  font-family: "Pacifico", cursive;
}

.curriculum .week h4,
.curriculum .course h4 {
  font-family: "Roboto Slab", serif;
}

.curriculum .week ul,
.curriculum .course ul {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  list-style: square;
  list-style-position: inside;
  padding: 0;
}

.accordion-body {
  /* background-color: #8d8686; */
  background-color: #212529;
  color: white;
}

.accordion-body li {
  font-size: 1.2rem;
}

/* Company Section */

.company-container {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  gap: 4rem;
  align-items: center;
}

.company-container h2 {
  padding-inline: 2rem;
  text-align: center;
  font-family: "Roboto Slab", serif;
}

.company-container .company-logo {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  align-items: center;
  width: 75%;
}

.company-container img {
  width: 100%;
}

/* Testimonial Section */

.testimonial {
  margin: 0 25px;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  background: white;
}

.fade-carousel .carousel-item {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.fade-carousel .carousel-item .quote {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.fade-carousel .carousel-item .quote h2 {
  text-align: center;
  color: #5e5e5e;
  padding-inline: 1rem;
  margin: 0;
}

.fade-carousel .carousel-item .name {
  text-align: center;
  font-size: 1.5rem;
  font-style: italic;
}

.fade-carousel .carousel-item .quote .right-quote {
  align-self: flex-end;
}

.fade-carousel .carousel-item img {
  width: fit-content;
}

.fade-carousel .carousel-item.active {
  opacity: 1;
  z-index: 1;
}

.fade-carousel .carousel-item.next,
.fade-carousel .carousel-item.prev {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 0;
}

.fade-carousel .carousel-item.next.carousel-item-left,
.fade-carousel .carousel-item.prev.carousel-item-right,
.fade-carousel .carousel-item.active {
  opacity: 1;
}

.fade-carousel .carousel-indicators {
  bottom: 0;
}

.fade-carousel .carousel-indicators li {
  background-color: #fff;
  opacity: 0.5;
}

.fade-carousel .carousel-indicators .active {
  background-color: #fff;
  opacity: 1;
}

/* Masterclass Section */

.masterclass {
  color: white;
  background-color: #686ee2;
  display: grid;
  padding: 5rem 4rem;
  gap: 4rem;
  grid-template-columns: repeat(2, 1fr);
}

.masterclass .left-part {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: "Belanosima", sans-serif;
}

.masterclass .left-part h3 {
  font-size: 3rem;
}

.masterclass .left-part p {
  font-size: 1.2rem;
  color: #dddddd;
}

.masterclass .right-part {
  background-color: #293c66;
  border-radius: 1rem;
  justify-self: center;
  width: 100%;
  height: fit-content;
}

.masterclass .right-part iframe {
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  height: 290px;
}

.masterclass .right-part .text {
  color: white;
  text-align: center;
  font-size: 1.1rem;
  font-family: "Varela Round", sans-serif;
}

/* News Section */

.news {
  display: flex;
  flex-direction: column;
  padding-block: 2rem;
  gap: 2rem;
  align-items: center;
  background-color: #5092d3;
}

.news h2 {
  color: white;
  text-align: center;
  width: 100%;
  padding-block: 0.8rem;
  background: #a8c4df;
  font-family: "Roboto Slab", serif;
}

.news iframe {
  width: 50%;
  height: 310px;
  border-radius: 1rem;
}

/* FAQ section */

.faq {
  padding: 5rem 7rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.faq h2 {
  align-self: center;
}

.faq .accordion {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  --bs-accordion-btn-bg: #efefef;
  --bs-accordion-btn-focus-border-color: none;
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-active-color: none;
  --bs-accordion-active-bg: none;
}

.faq .accordion-item {
  box-shadow: 0px 2px 4px #afafaf;
}

.faq .accordion-button {
  border-radius: 0.3rem 0.3rem 0 0;
  font-size: 1rem;
  font-weight: 700;
}

/* Footer */

.footer-container {
  background-color: #000000;
}

.footer-container p {
  color: lightgrey;
  margin: 0;
  text-align: center;
  padding-bottom: 0.6rem;
  font-size: 0.8rem;
}

.footer {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem;
  gap: 4rem;
  grid-template-columns: repeat(auto-fill, minmax(195px, 1fr));
}

.footer .column {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

.footer h3 {
  font-family: "Ysabeau SC", sans-serif;
  font-weight: 900;
}

.footer ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.footer li {
  list-style: none;
  font-size: 0.9rem;
  font-family: "Ysabeau SC", sans-serif;
}

.footer li a {
  text-decoration: none;
  color: white;
}

.footer li a:hover {
  text-decoration: underline;
}

.footer .contact-icons {
  display: flex;
  gap: 0.9rem;
  margin-top: 0.8rem;
  flex-wrap: wrap;
}

.footer .contact-icons a i {
  font-size: 1rem;
}

/* Whatsapp Chat Button and back to top */

.chat-back-to-top {
  position: fixed;
  background-color: #a787cf;
  bottom: 40px;
  border-radius: 28px;
  padding: 4px 12px;
  right: 35px;
  z-index: 999;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

#like-button,
#dislike-button {
  padding: 0;
  font-size: 2rem;
  background: none;
  border: none;
  color: rgb(222, 222, 222);
}

#like-button.clicked {
  color: #6bed6b;
  animation: pop 0.6s ease-out;
}

#dislike-button.clicked {
  color: #ed6f6f;
  animation: pop 0.6s ease-out;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

.whatsapp-chat {
  background-color: #25d366;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.whatsapp-chat a {
  color: #fff;
  font-size: 2rem;
}

.back-to-top-btn {
  display: none;
  border: none;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background-color: #c5c5c5;
}

/* Media Queries */

@media only screen and (max-width: 990px) {
  .navbar-nav {
    align-items: center;
  }

  .navbar-nav .dropdown .show {
    text-align: center;
  }

  .hero-section {
    gap: 2.5rem;
  }

  .hero {
    padding: 0 5rem 0 0;
  }

  .card-section .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .masterclass {
    padding: 3rem 2rem;
    gap: 2rem;
    grid-template-columns: 1fr;
  }

  .masterclass .right-part {
    width: 50%;
  }

  .masterclass .right-part .text {
    font-size: 1rem;
  }

  .news iframe {
    width: 70%;
  }
}

@media only screen and (max-width: 800px) {
  .navbar-nav {
    align-items: center;
  }

  .navbar .logo img {
    width: 15%;
  }

  .hero-section {
    grid-template-columns: 1fr;
  }

  .hero {
    padding: 0;
  }
}

@media only screen and (max-width: 740px) {
  .hero-section {
    padding: 0 2rem 1rem 2rem;
  }

  .card-section .cards {
    padding: 2rem;
    gap: 2rem;
    grid-template-columns: 1fr;
  }

  .curriculum {
    padding: 2rem 3rem;
  }

  .company-container h2 {
    padding: 0;
  }

  .company-container .company-logo {
    width: 85%;
    gap: 1.5rem;
  }

  .masterclass .left-part {
    gap: 0.5rem;
  }

  .masterclass .left-part h3 {
    font-size: 2rem;
  }

  .masterclass .left-part p {
    font-size: 1rem;
  }

  .masterclass .right-part {
    width: 72%;
  }

  .faq {
    padding: 2rem 3rem;
    gap: 1.5rem;
  }

  .footer {
    gap: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .brand img {
    width: 185px;
  }

  .hero-section .hero-tag {
    font-size: 1.5rem;
  }

  .hero ul li {
    font-size: 1.1rem;
  }

  .hero-section .program-card .card-1 .card-middle,
  .hero-section .program-card .card-2 .card-middle {
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .hero-section .program-card .card-1 .card-middle .left .tag-1,
  .hero-section .program-card .card-2 .card-middle .left .tag-1,
  .hero-section .program-card .card-1 .card-middle .left .tag-2,
  .hero-section .program-card .card-2 .card-middle .left .tag-2 {
    font-size: 0.9rem;
  }

  .brand {
    font-size: 1rem;
  }

  .card-section {
    margin-block: 2rem;
  }

  .hero-section .program-card img {
    width: 100%;
  }

  .pitch-section h3,
  .curriculum h3 {
    font-size: 1.3rem;
  }

  .pitch-section .cards {
    padding: 2rem;
    gap: 2rem;
  }

  .pitch-section .cards .head span,
  .pitch-section h4 {
    font-size: 1.2rem;
    text-align: center;
    padding-inline: 1rem;
  }

  .pitch-section .cards .para ul {
    font-size: 0.9rem;
  }

  .curriculum {
    padding: 2rem 2rem;
  }

  .curriculum h5 {
    font-size: 1rem;
    padding-inline: 2rem;
  }

  .curriculum .top {
    gap: 0;
  }

  .curriculum .weeks-section {
    gap: 2rem;
  }

  .curriculum .weeks-section h4 {
    font-size: 1.2rem;
  }

  .curriculum .week ul {
    gap: 0.5rem;
  }

  .company-container {
    padding: 3rem;
    gap: 2rem;
  }

  .company-container h2 {
    padding: 0;
    font-size: 1.3rem;
  }

  .fade-carousel .carousel-item .quote {
    gap: 0.5rem;
  }

  .fade-carousel .carousel-item img {
    width: 10%;
  }

  .masterclass .right-part iframe {
    height: 230px;
  }

  .news h2 {
    font-size: 1.3rem;
    padding-inline: 0.5rem;
    padding-block: 0.5rem;
  }

  .news iframe {
    height: 250px;
  }

  .faq {
    padding: 2rem 2rem;
    gap: 1.3rem;
  }

  .footer .column {
    width: 50%;
    justify-self: center;
  }

  .chat-back-to-top {
    gap: 0.4rem;
    bottom: 20px;
    right: 20px;
  }
}

@media only screen and (max-width: 450px) {
  .hero-section .program-card .card-2 .card-middle .left .tag-2 {
    width: min-content;
  }

  .hero-section .program-card .card-2 .card-middle .left {
    justify-content: flex-end;
  }

  .card-section .heading {
    padding-inline: 2rem;
    font-size: 1.3rem;
  }

  .card-section .cards .card .head h4 {
    font-size: 0.7rem;
  }

  .card-section .card .para p {
    margin-top: 0.9rem;
    font-size: 1rem;
  }

  .company-container {
    padding: 2rem;
    gap: 1.5rem;
  }

  .company-container h2 {
    font-size: 1.1rem;
  }

  .company-container .company-logo {
    width: 100%;
  }

  .masterclass {
    padding: 2rem;
  }

  .masterclass .right-part {
    width: 100%;
  }

  .masterclass .right-part iframe {
    height: 200px;
  }

  .news iframe {
    width: 85%;
  }

  .faq h2 {
    text-align: center;
  }

  .footer {
    gap: 1.5rem;
  }

  .footer .column {
    gap: 0;
  }

  .whatsapp-chat {
    bottom: 20px;
    right: 20px;
  }
}

.strip {
  text-align: center;
  background: white;
  border-color: black;
  display: flex;
  justify-content: center; 
  cursor: pointer;
  border-radius: 20px;
}

#profile  {
  background-color: #d7d8db;
  width: auto;
  padding: 5px 20px;
  border-radius: 10px; 
  margin-bottom: 10px;
}

.full-width-image {
  border-radius: 20px;
}
