.socialwork {
  text-align: center;
  margin-block: 50px;
}

.socialwork h1 {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 700;
  padding: 0 14rem;
  color: #333;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.2;
}

.socialwork p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #666;
  margin-bottom: 10px;
  line-height: 1.6;
}

#timer {
  font-size: 72px;
  font-weight: bold;
  margin-top: 26px;
  color: rgb(80 84 203);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#joinBtn {
  padding: 12px 24px;
  background-color: rgb(80 84 203);
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 30px;
  margin-top: 20px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

#joinBtn:hover {
  background-color: rgb(57, 62, 209);
}

@media only screen and (max-width: 990px) {
  .socialwork h1 {
    padding: 0 7rem;
  }
}

@media only screen and (max-width: 740px) {
  .socialwork h1 {
    padding: 0 5rem;
    font-size: 22px;
  }
}

@media only screen and (max-width: 600px) {
  .socialwork h1 {
    padding: 0 2rem;
  }

  #timer {
    font-size: 50px;
  }

  #joinBtn {
    font-size: 14px;
    margin: 0;
  }
}

@media only screen and (max-width: 450px) {
  .socialwork h1 {
    padding: 0 1rem;
    font-size: 18px;
  }

  .socialwork p {
    font-size: 15px;
  }

  #timer {
    margin-top: 18px;
  }
}
