<!DOCTYPE html>
<html lang="en">
<head>
    <meta
      name="description"
      content="Government Schemes and Policies for College Students and Job Seekers in India"
    />
    <title>Government Policies</title>
    <link rel="stylesheet" href="/staticfiles/mainfiles/blog/govt-policies/style.css" />
    <%- include('../../../partials/head.ejs') %>
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Government policies" />
    <meta property="og:description" content="Government Schemes and Policies for College Students and Job Seekers in India" />
    <meta property="og:url" content="https://jobsdoor360.in/blog/govt-policies/" />
    <!-- <meta property="og:image" content="https://jobsdoor360.in/staticfiles/mainfiles/blog/govt-policies/wealthy-healty-and-satisfactory-life-fullsize.png" /> -->
    <meta property="og:site_name" content="Jobsdoor360" />
    <meta property="og:locale" content="en_IN" />

  </head>
<body>
  <%- include('../../../partials/navbar.ejs') %>
  <header>
    <h1>📘 Government Schemes & Policies</h1>
    <p>Explore official schemes for college students and job seekers in India</p>
  </header>

  <main>
    <section>
      <h2>🎓 For College & Higher Education Students</h2>
      <ul>
        <li><a href="https://www.education.gov.in/sites/upload_files/mhrd/files/NEP_Final_English_0.pdf" target="_blank">National Education Policy (NEP) 2020</a></li>
        <li><a href="https://scholarships.gov.in/" target="_blank">National Scholarship Portal (NSP)</a></li>
        <li><a href="https://www.education.gov.in/en/rusa" target="_blank">Rashtriya Uchchatar Shiksha Abhiyan (RUSA)</a></li>
        <li><a href="https://www.mhrdnats.gov.in/" target="_blank">National Apprenticeship Training Scheme (NATS)</a></li>
        <li><a href="https://swayam.gov.in/" target="_blank">SWAYAM Digital Learning Platform</a></li>
        <li><a href="https://www.skillindia.gov.in/" target="_blank">Skill India Mission</a></li>
        <li><a href="https://www.vidyalakshmi.co.in/" target="_blank">Vidya Lakshmi Education Loan Portal</a></li>
        <li><a href="https://online-inspire.gov.in/" target="_blank">INSPIRE Scholarship for Science Students</a></li>
        <li><a href="https://studyinindia.gov.in/" target="_blank">Study in India</a></li>
        <li><a href="https://www.aicte-india.org/neet" target="_blank">NEAT AI Learning Platform</a></li>
      </ul>
    </section>

    <section>
      <h2>💼 For Job Seekers & Employability</h2>
      <ul>
        <li><a href="https://www.ncs.gov.in/" target="_blank">National Career Service (NCS)</a></li>
        <li><a href="https://www.apprenticeshipindia.gov.in/" target="_blank">Apprenticeship India Portal</a></li>
        <li><a href="https://www.makeinindiaprogram.com/pmkvy/" target="_blank">Pradhan Mantri Kaushal Vikas Yojana (PMKVY)</a></li>
        <li><a href="https://www.startupindia.gov.in/" target="_blank">Startup India for Young Entrepreneurs</a></li>
        <li><a href="https://www.msde.gov.in/" target="_blank">Ministry of Skill Development & Entrepreneurship</a></li>
      </ul>
    </section>
  </main>

  <%- include('../../../partials/footer.ejs') %>
</body>
</html>
