<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="brand" href="/">
      <img src="/assets/Jobsdoor360 -logos__black.png" alt="logo" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarNavDropdown"
      style="transition: height 1s ease"
    >
      <ul class="navbar-nav flex items-center">
        <li class="nav-item">
          <a class="nav-link" aria-current="/page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about/">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/apply/">Apply</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
          Career Options
        </a>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="/careeroptions">Career Options</a>
          </li>
          <li>
            <a class="dropdown-item" href="/careeroptions/job-options/">Job Options</a>
          </li>
          <li>
            <a class="dropdown-item" href="/careeroptions/business-options/">Business Options</a>
          </li>
          <li>
            <a class="dropdown-item" href="/jobs_analysis/">Job Analysis</a>
          </li>
          <li>
            <a class="dropdown-item" href="/careeroptions/profileanalyzer/">Profile Analyzer</a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
            Blogs
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="/businessplans">Business Plans</a>
            </li>
            <li>
              <a class="dropdown-item" href="/biographies">Biographies</a>
            </li>
            <li>
              <a class="dropdown-item" href="/motivation">Motivation</a>
            </li>
            <li>
              <a class="dropdown-item" href="/healthy-diet">Heathy Diet</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/myaccount/jobsforyou">Jobs for you</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="myaccount-2" href="/myaccount/">My account</a>
        </li>
        <li class="nav-item login-btn">
          <a class="nav-link" id="login-button" href="/login">Login</a>
        </li>
        <li class="nav-item signup-btn" id="signup-button">
          <a class="nav-link" href="/signup">Sign up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<style>
  /* Custom breakpoint for 1240px */
  @media (max-width: 1240px) {
    .navbar-expand-lg {
      flex-wrap: wrap;
      justify-content: space-between;
    }
  
    /*  */
    .navbar-collapse.show {
      display: block; /* Show when toggled */
    }

  }
  
  
.navbar-toggler.collapsed .navbar-toggler-icon::before {
  transform: rotate(45deg);
  top: 0;
}

.navbar-toggler.collapsed .navbar-toggler-icon::after {
  transform: rotate(-45deg);
  top: 0;
} 
  </style>
<div
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin-top: 5px;
  "
>
  <span style="font-weight: 500; margin-bottom: 8px" id="welcome-text"></span>
  <span
    id="user-mail"
    style="
      color: #586ba6;
      font-weight: 600;
      font-size: 1.1rem;
      margin-bottom: 8px;
    "
  ><a class="nav-link" id="myaccount-1" href="/myaccount/">My Account</a></span>
  </span>
</div>

<!-- Google Tag Manager (noscript) -->
<noscript
  ><iframe
    src="https://www.googletagmanager.com/ns.html?id=GTM-MFBK5637"
    height="0"
    width="0"
    style="display: none; visibility: hidden"
  ></iframe
></noscript>
<!-- End Google Tag Manager (noscript) -->

