<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <a class="brand" href="/">
            <img src="../assets/Jobsdoor360 -logos__black.png" alt="logo" />
        </a>
        <div class="back-container">
            <a href="/">
                <button class="back-btn rounded-pill">Back</button>
            </a>
        </div>
    </div>
</nav>


<!-- Google Tag Manager (noscript) -->
<noscript
><iframe
  src="https://www.googletagmanager.com/ns.html?id=GTM-MFBK5637"
  height="0"
  width="0"
  style="display: none; visibility: hidden"
></iframe
></noscript>
<!-- End Google Tag Manager (noscript) -->