<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="brand" href="/">
      <img src="/assets/Jobsdoor360 -logos__black.png" alt="logo" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarNavDropdown"
      style="transition: height 1s ease"
    >
      <ul class="navbar-nav flex items-center">
        <li class="nav-item">
          <a class="nav-link" aria-current="/page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about/">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pricing/">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register/"
            >Get Demo classes
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/apply/">Apply</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Blogs
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="/careeroptions">Career Options</a>
            </li>
            <li>
              <a class="dropdown-item" href="/jobs_analysis/">Jobs Analysis</a>
            </li>
            <li>
              <a class="dropdown-item" href="/businessplans">Business Plans</a>
            </li>
            <li>
              <a class="dropdown-item" href="/biographies">Biographies</a>
            </li>
            <li>
              <a class="dropdown-item" href="/motivation">Motivation</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/hiring/">Hiring</a>
        </li>
        <li class="nav-item login-btn">
          <a
            class="nav-link"
            id="login-button"
            href="/login"
            onclick="{handleLoginButtonClick()}"
            >Login</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<div
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin-top: 5px;
  "
>
  <span style="font-weight: 500; margin-bottom: 8px" id="welcome-text"></span>
  <span
    id="user-mail"
    style="
      color: #586ba6;
      font-weight: 600;
      font-size: 1.1rem;
      margin-bottom: 8px;
    "
  >
  </span>
</div>

<!-- Google Tag Manager (noscript) -->
<noscript
  ><iframe
    src="https://www.googletagmanager.com/ns.html?id=GTM-MFBK5637"
    height="0"
    width="0"
    style="display: none; visibility: hidden"
  ></iframe
></noscript>
<!-- End Google Tag Manager (noscript) -->
<script>
  const email = localStorage.getItem("email");
  if (email) {
    document.getElementById("login-button").innerHTML = "Logout";
    document.getElementById("user-mail").innerHTML = email;
    document.getElementById("welcome-text").innerHTML = "Welcome";
  } else {
    const login_button = document.getElementById("login-button");
    login_button.addEventListener("click", () => {
      const email = localStorage.getItem("email");
      if (email) {
        localStorage.clear();
      }
      location.location.href = "/login";
    });
  }
</script>
