<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prominent Societies and Associations in India</title>
    <link rel="stylesheet" href="/staticfiles/mainfiles/careeroptions/societies/style.css">
</head>
<body>
    <ul id="society-list"></ul>

    <script src="/staticfiles/mainfiles/careeroptions/societies/script.js"></script>
   
</body>
</html>
