<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prominent Societies and Associations in India</title>
   <link rel="stylesheet" href="/staticfiles/mainfiles/careeroptions/societies/style.css">
   <%- include('../../../partials/head.ejs') %>
</head>
<body> 
    <%- include('../../../partials/navbar.ejs') %>
    
    <h1>Societies</h1>
    <div id="data-container">
        <ul class="centered-list">
          <% for (let i = 0; i < societies_data.societies_data.length; i++) { %>
            <li><%= societies_data.societies_data[i] %></li>
          <% } %>
        </ul>
      </div>
      
    <%- include('../../../partials/footer.ejs') %>
   
</body>
</html>

