<!DOCTYPE html>
<html>
<head>
      <title>Inspiring Entrepreneur Biographies</title>
      <link rel="stylesheet" href="../css/style.css" />
      <link rel="stylesheet" href="../css/biographies.css" />
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2075086355753452"
          crossorigin="anonymous"></script>
      <script src="https://kit.fontawesome.com/f6b356be29.js" crossorigin="anonymous"></script>
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-1JQVXS3B5L"></script>
      <script>
          window.dataLayer = window.dataLayer || [];
          function gtag() {
              dataLayer.push(arguments);
          }
          gtag("js", new Date());
  
          gtag("config", "G-1JQVXS3B5L");
      </script>
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2075086355753452"
          crossorigin="anonymous"></script>
      <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
      <style>
          .clamp-text {
              display: -webkit-box;
              -webkit-box-orient: vertical;
              overflow: hidden;
              -webkit-line-clamp: 3;
              max-height: 3em;
          }
      </style>
  <link rel="icon" href="./../fevicon.ico" type="profile" />
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
          })(window,document,'script','dataLayer','GTM-MFBK5637');</script>
	<%- include('../../partials/head.ejs'); %>
	<body class="bg-gradient-to-b from-indigo-200">
		<!-- Biographies Section -->

            <header>
                  <h1>Inspiring Entrepreneur Biographies</h1>
            </header>
      
              <section>
      
                  <div class="py-10 overflow-auto px-20 lg:px-40 overflow-auto">
                      <div class="w-full bg-white rounded shadow-md p-4 mb-4">
                          <h2 class="text-xl font-semibold mb-2">Just Dial Founder - VSS Mani</h2>
                          <p style="
                              display: -webkit-box;
                              -webkit-box-orient: vertical;
                              overflow: hidden;
                              -webkit-line-clamp: 3; /* Number of lines to display */
                          " class="text-gray-600 mb-4">
                              VSS Mani is the visionary founder of Just Dial, an online local search engine that
                              revolutionized the way people find and connect with businesses in India. He built Just Dial from
                              scratch and transformed it into a multi-billion-dollar company. Mani's dedication and innovation
                              in developing this platform have earned him immense recognition in the business world.
                          </p>
                          <a class="mt-2 bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 focus:outline-none focus:shadow-outline-blue"
                              href="https://www.dnaindia.com/business/report-meet-vss-mani-who-built-rs-6575-crore-indian-google-mukesh-ambani-had-paid-rs-1332-crore-3048424"
                              target="_blank">Continue</a>
                      </div>
      
                      <div class="w-full bg-white rounded shadow-md p-4 mb-4">
                          <h2 class="text-xl font-semibold mb-2">Adda247 Founder - Anil Nagar</h2>
                          <p style="
                              display: -webkit-box;
                              -webkit-box-orient: vertical;
                              overflow: hidden;
                              -webkit-line-clamp: 3; /* Number of lines to display */
                          " class="text-gray-600 mb-4">
                              Anil Nagar is the inspiring founder of Adda247, an e-learning platform that provides quality
                              education and test preparation for various competitive exams. Starting from just Rs. 1 lakh and
                              fueled by his determination and passion, Anil Nagar has grown Adda247 into a prominent company
                              with a valuation of over Rs. 1400 crore. His journey from an IIT aspirant to a successful
                              entrepreneur has motivated millions of students across the country.
                          </p>
                          <a class="mt-2 bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 focus:outline-none focus:shadow-outline-blue"
                              href="https://www.dnaindia.com/business/report-anil-nagar-meet-coaching-owner-who-built-rs-1400-crore-firm-from-rs-1-lakh-iit-struggle-inspired-him-3048407"
                              target="_blank">Continue</a>
                      </div>
                      <div class="w-full bg-white rounded shadow-md p-4 mb-4">
                          <h2 class="text-xl font-semibold mb-2">Swami Vivekanand</h2>
                          <p style="
                                              display: -webkit-box;
                                              -webkit-box-orient: vertical;
                                              overflow: hidden;
                                              -webkit-line-clamp: 3; /* Number of lines to display */
                                          " class="text-gray-600 mb-4">
                              Swami Vivekananda was born on January 12, 1863, in Kolkata,
                              India, His lifestyles modified into marked by way of a deep dedication to the
                              religious path and the pursuit of expertise. Swami Vivekananda, a towering non
                              secular and philosophical parent of the past due 19th and early 20th
                              centuries,
                              accomplished a pivotal role in introducing the philosophies of Vedanta and
                              Yoga to the Western international. He was a key determine inside the
                              renaissance of Hinduism and the creation of Indian philosophies to a
                              international target market. Born as Narendranath Datta, he observed the
                              decision Swami Vivekananda after turning into a monk.
                          </p>
                          <a class="mt-2 bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 focus:outline-none focus:shadow-outline-blue"
                              href="./Swami.html">Continue</a>
                      </div>
                      <div class="w-full bg-white rounded shadow-md p-4 mb-4">
                          <h2 class="text-xl font-semibold mb-2">Bill Gates</h2>
                          <p style="
                                              display: -webkit-box;
                                              -webkit-box-orient: vertical;
                                              overflow: hidden;
                                              -webkit-line-clamp: 3; /* Number of lines to display */
                                          " class="text-gray-600 mb-4">
                              The world has been forever modified by bill Gates, a name that is synonymous with the tech
                              revolution.
                              His journey from co-founding Microsoft to becoming a distinguished philanthropist is pretty
                              first rate. let's
                              examine the specifics of his existence and the turning factors that molded one of the maximum
                              full-size
                              individuals in cutting-edge history...
                          </p>
                          <a class="mt-2 bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 focus:outline-none focus:shadow-outline-blue"
                              href="./BillGates.html">Continue</a>
                      </div>
      
                  </div>
              </section>
		<script type="module" src="../js/script.js"></script>
		<%- include('../../partials/footer.ejs'); %>
	</body>
</html>