<!DOCTYPE html>
<html>
  <head>
    <title>Biography</title>
    <meta
      name="description"
      content="Experience the Power of Jobsdoor360's Job-Oriented Software Learning Demo Class! Join our Saturday session from 10:00 AM to 11:00 AM and discover exciting opportunities in web development, MERN-stack development, and backend development. Don't miss this chance to kickstart your tech career. Join Now!"
    />
    <link rel="stylesheet" href="../css/demo.css" />
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <%- include('../../partials/head.ejs'); %>
  </head>
  <body class="bg-gradient-to-r from-indigo-200">
    <%- include('../../partials/navbar.ejs'); %>
    <!-- End Google Tag Manager (noscript) -->

    <section class="container mt-3 w-full">
      <div class="row">
        <div class="mx-auto">
          <!-- Title with Background -->
          <div class="bg-primary text-light p-3 rounded mb-4">
            <h1 class="mb-0 text-2xl text-center">Swami Vivekanand</h1>
          </div>

          <!-- Biography Text Container -->
          <div class="bg-light p-4 rounded col-md-8 mx-auto mb-4">
            <p class="lead">
              <strong>Introduction:</strong> Swami Vivekananda was born on
              January 12, 1863, in Kolkata, India, His lifestyles modified into
              marked by way of a deep dedication to the religious path and the
              pursuit of expertise. Swami Vivekananda, a towering non secular
              and philosophical parent of the past due 19th and early 20th
              centuries, accomplished a pivotal role in introducing the
              philosophies of Vedanta and Yoga to the Western international. He
              was a key determine inside the renaissance of Hinduism and the
              creation of Indian philosophies to a international target market.
              Born as Narendranath Datta, he observed the decision Swami
              Vivekananda after turning into a monk.
              <br />
              <br />
              <strong>DOB (Date of birth):</strong> Swami Vivekananda was born
              on January 12, 1863. Parents - Vishwanath datta and Bhubneshwari
              devi Bengali family (Kolkata)
              <br />
              <br />

              Parents financial status - rich/affluent
              <br />
              <br />
              <strong>1. Parents:</strong> His parents were Vishwanath Datta, a
              successful lawyer, and Bhuvaneshwari Devi, a devout housewife. The
              Datta family, although of modest manner, valued training and
              culture.
              <br />
              <br />
              <strong>2. Parents' financial status:</strong> notwithstanding not
              being affluent, the Datta own family enjoyed a comfy middle-class
              way of life. Vishwanath Datta's criminal exercise furnished for
              the own family's desires, and the house was imbued with an
              ecosystem of intellectual curiosity and non secular inclination.
              <br />
              <br />
              <strong>3. Father's job:</strong> Vishwanath Datta became an
              attorney at the Calcutta excessive court. His profession exposed
              young Narendranath to the world of law and reasoning, shaping his
              analytical mindset.
              <br />
              <br />
              <strong>4. Interest of Swami Ji:</strong> From a younger age,
              Narendranath exhibited a eager hobby in spirituality and a
              questioning mind that sought to recognize the nature of
              lifestyles. His fascination with the concept of God and the deeper
              which means of lifestyles led him to discover diverse religious
              traditions.
              <br />
              <br />
              <strong>5. Books examine via Swami Ji:</strong> Swami Vivekananda
              modified into an avid reader with a voracious urge for food for
              data. He delved proper into a vast style of topics, collectively
              with philosophy, history, literature, and technological. The
              diverse books that profoundly endorsed him were the Bhagavad Gita,
              the works of Ramakrishna Paramahamsa (his religious mentor), the
              Upanishads, and the writings of Western philosophers.
              <br />
              <br />
              <strong>6.Interest:</strong> His intellectual hobbies and
              spiritual quest ultimately culminated in his meeting with
              Ramakrishna Paramahamsa, who've emerge as his non secular guide
              and mentor. Swami Vivekananda's teachings emphasized the
              universality of faith, the importance of self-interest, and the
              harmony of various faiths.
              <br />
              <br />
              <strong>7. Formative years and training:</strong> Narendranath
              Datta, later called Swami Vivekananda, exhibited remarkable
              intelligence and a wondering spirit from a young age. He excelled
              in teachers and became equally adept in numerous extracurricular
              activities. His family's economic scenario, however, suffered a
              setback after the surprising death of his father while
              Narendranath was only a teen.
              <br />
              <br />

              <strong>8. Non secular Quest:</strong> Narendranath's spiritual
              journey intensified as he grappled with the existential questions
              that haunted him. He became associated with the Brahmo Samaj, a
              outstanding socio-religious reform motion in India. however, it
              turned into his meeting with Ramakrishna Paramahamsa that proved
              to be a turning factor in his existence. Ramakrishna identified
              Narendranath's religious capacity and became his spiritual manual.
              <br />
              <br />
              <strong>9.Character: </strong> Swami Vivekananda, a prominent
              Hindu figure, represented Hinduism at the 1893 Parliament of
              Religions in Chicago. His universalistic speech, "Sisters and
              brothers of America," gained him popularity. He traveled and
              lectured extensively, promoting Hindu philosophy and tolerance.
              Despite his premature death in 1902, his teachings continue to
              inspire people globally. His Ramakrishna project continues to be a
              significant force in philanthropy and education.
            </p>
          </div>
        </div>
      </div>
    </section>
  </body>
  <%- include('../../partials/footer.ejs'); %>
</html>
