<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
    <link rel="stylesheet" href="/staticfiles/mainfiles/hirewithus/style.css" />
    <%- include('../../partials/head.ejs') %>
  </head>
  <%- include('../../partials/navbar.ejs') %>
  <body>
    <main>
      <div class="container">
        <h1 class="text-center mb-4">Hire With Us</h1>
        <ul>
          <li>We hire interns and employees for company.</li>
          <li>
            We list the opening on our hiring page and then promote on hiring
            challenges to hire for company.
          </li>
          <li>Also we reachout to individual students and employees.</li>
          <li>We take first round as an assessment.</li>
          <li>
            We have facility to take all rounds of interviews as well.
          </li>
        </ul>
        <h5>
          For charges and more information, please contact us via WhatsApp on
          <a href="https://api.whatsapp.com/send?phone=918319349660&text=I%20want%20to%20know%20more!" target="_blank">083193 49660</a>.
        </h5>
      </div>
    </main>
    <%- include('../../partials/footer.ejs') %>
    <link rel="stylesheet" href="/staticfiles/mainfiles/hirewithus/script.js" />
  </body>
</html>
