<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Syllabus</title>
    <link
      rel="stylesheet"
      href="/staticfiles/mainfiles/careeroptions/ministries/style.css"
    />
    <script src="../../../../../../../staticfiles/mainfiles/careeroptions/profileanalyzer/Syllabus/script.js" defer></script>
    <%- include('../../../partials/head.ejs') %>
  </head>
  <body>

    <%- include('../../../partials/navbar.ejs') %>

  

    <h1 id="job-title">Job Syllabus</h1>
    <p id="syllabus-content">Loading syllabus...</p>
     

    <%- include('../../../partials/footer.ejs') %>
  </body>
</html>
