<!DOCTYPE html>
<html lang="en">
<head>
  <title>Assessment</title>
  <link rel="stylesheet" href="/staticfiles/mainfiles/test/style.css">
  <%- include('../../partials/head.ejs') %>
</head>
<body>
  <%- include('../../partials/navbar.ejs') %>
  <section class="content">
    <h1 class="center">Master Your Skills: Assessments & Challenges</h1>
    <div class="assessment-grid" id="assessment">
      Fetching Assessments ...!
    </div>

    <!-- Popup structure here -->
    <div class="popup" id="popup-template" style="display: none;">
      <h3>Assessment Guidelines</h3>
      <div>
        <p>Please read the following guidelines before starting the test:</p>
        <ul>
          <li>The total number of questions will be approximately 50.</li>
          <li>The total time to complete the Assessment is 30 minutes.</li>
          <li>Ensure you have a stable internet connection.</li>
          <li>Do not use any external help such as books, internet, or other people.</li>
          <li>Complete the test within the given time limit.</li>
          <li>Submit your results to the designated WhatsApp group upon completion.</li>
          <li>Do not refresh the page during the test.</li>
          <li>Make sure to read each question carefully.</li>
          <li>Answer all questions to the best of your ability.</li>
          <li>Avoid distractions and focus solely on the test.</li>
        </ul>
      </div>
      <label>
        <input type="checkbox" id="agree-checkbox">
        I agree to the guidelines.
      </label>
      <input type="hidden" name="quizcode" value="">
      <button type="submit" class="btn-submit">Start</button>
      <button type="button" class="btn-back">Back</button>
    </div>

    <!-- Overlay -->
    <div id="overlay" style="display: none;"></div>
  </section>
  <%- include('../../partials/footer.ejs') %>
  <script type="module" src="/staticfiles/mainfiles/test/script.js"></script>
</body>
</html>
