*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  text-align: center;
  padding: 1.5rem;
  font-weight: 900;
  font-family: "Pacifico", cursive;
}
.accordions{
  padding: 0 3rem 3rem 3rem;
}