* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.courses {
  border-bottom: 2px solid black;
}
.course_details h1 {
  margin: 1.5rem;
  text-align: center;
  /* font-family: "Pacifico", cursive; */
  font-size: 3rem;
}
.course_details h2 {
  margin: 25px;
  text-align: center;
  /* 
  
  font-family: "Pacifico", cursive; */
}
.fundamental h2 {
  margin: 1.5rem;
  text-align: center;
  /* font-family: "Pacifico", cursive; */
  font-size: 5vmin;
}

.links {
  color: #33ff86;
  text-decoration: none;
}

.main_body {
  background-color: #6279b3;
  margin: 2rem;
  padding: 2rem;
  border-radius: 1.5rem;
  color: white;
}
.main_body h5 {
  font-size: 5vmin;
}
.main_body h3 {
  text-align: center;
  color: white;
  font-size: 2.5rem;
  /* font-family: "Pacifico", cursive; */
}
li {
  font-size: 3vmin;
  color: white;
  list-style: none;
}

.frontend {
  background-color: #887b48;
}
