* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } 
  
  body {
  
    background-color: #f5f5f5; /* Light gray background */
    font-family: "Roboto", Arial, sans-serif;
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
  
  }
  
  .center {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .content {
    max-width: 1200px;
    margin: 0 auto;
  
    width: 100vw; /* Full width of the viewport */
    height: auto;
  }
  
  /* Style for the quiz container */
  #quiz-container {
    display: none;
    background-color: #f9f9f9; /* Light gray background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed; /* Fixed position to center */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centering trick */
    width: 70%; /* Adjust width as needed */
    max-width: 600px; /* Maximum width */
    height: 70%; /* Adjust height as needed */
    max-height: 90vh; /* Maximum height relative to viewport height */
    text-align: center; /* Center content horizontally */
    z-index: 1000; /* Ensure it's above other content if needed */
  }
  
  
  
  
  #quiz {
    margin-bottom: 20px;
  }
  
  #question-container {
    background-color: #ffffff;
  
    padding: 60px;
  
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: left;
  }
  
  /* #feedback-container {
  
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: left;
  
  } */
  
  /* Previous button */
  #pre-btn {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 20px; /* Adjust distance from the bottom */
    left: 20px; /* Adjust distance from the left */
  }
  
  
  /* Next button */
  #next-btn {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 20px; /* Adjust distance from the bottom */
    right: 20px; /* Adjust distance from the right */
  }
  
  
  /* Home button */
  #home-btn {
  
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    margin: 0 auto; /* Center the button horizontally */
  }
  
  /* Hover state for all buttons */
  #pre-btn:hover,
  #next-btn:hover,
  #home-btn:hover {
  
    background-color: #0056b3;
  }
  
  #result-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: left;
  }
  
  #timer {
    font-size: 1.5rem;
    font-weight: bold;
    color: #007bff;
    margin-top: 10px;
  
    background-color: #f9f9f9; /* Light gray background */
    padding: 10px 20px; /* Padding around the timer text */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
    text-align: center; /* Center text horizontally */
    margin: 0 auto; /* Center the timer box horizontally */
    display: inline-block; /* Ensure the box wraps around the content */
  }
  
  
  /* Assessment Grid and Boxes */
  .assessment-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  
  .assessment-box {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  .assessment-box:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }
  
  .assessment-title {
    font-size: 1.8rem;
    color: #343a40;
    margin-bottom: 10px;
  }
  
  .assessment-description {
    font-size: 1.1rem;
    color: #6c757d;
    margin-bottom: 20px;
  }
  
  .btn-start {
  
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-start:hover {
    background-color: #0056b2;
  
  }
  
  /* Media query for tablets and smaller screens */
  @media (max-width: 992px) {
    .assessment-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  /* Media query for phones and smaller screens */
  @media (max-width: 576px) {
    .assessment-grid {
      grid-template-columns: 1fr;
    }
  
    .assessment-box {
      padding: 20px;
    }
  
    .assessment-title {
      font-size: 1.5rem;
    }
  
    .assessment-description {
      font-size: 1rem;
    }
  
    .btn {
      padding: 10px 20px;
    }
  }
  