<!DOCTYPE html>
<html>
  <head>
    <title>Business Plans, Revenue Strategies, and Success Stories</title>
    <meta
      name="description"
      content="Experience the Power of Jobsdoor360's Job-Oriented Software Learning Demo Class! Join our Saturday session from 10:00 AM to 11:00 AM and discover exciting opportunities in web development, MERN-stack development, and backend development. Don't miss this chance to kickstart your tech career. Join Now!"
    />
    <link rel="stylesheet" href="../css/demo.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <%- include('../../partials/head.ejs'); %>
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <%- include('../../partials/navbar.ejs'); %>
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-MFBK5637"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Business Plans -->

    <section class="plan-container">
      <div class="plans">
        <section class="single-plan">
          <h2>How to Make a Business Plan</h2>
          <p>
            Learn the essential steps to create a successful business plan. A
            well-structured business plan is crucial for any startup or existing
            business to outline its goals, strategies, and financial
            projections.
          </p>
          <a
            href="https://www.inc.com/articles/201105/business-plan-financials.html"
            target="_blank"
            >Read More</a
          >
        </section>

        <section class="single-plan">
          <h2>Revenue and Marketing Spend for E-commerce</h2>
          <p>
            Explore how top e-commerce startups in India managed their revenue
            and marketing expenses in the fiscal year 2022. Gain insights into
            their strategies and learn from their successes.
          </p>
          <a
            href="https://inc42.com/features/heres-how-much-indias-top-ecommerce-startups-spent-on-marketing-in-fy22/"
            target="_blank"
            >Read More</a
          >
        </section>

        <!-- horizontal adds -->
        <ins
          class="adsbygoogle"
          style="display: block"
          data-ad-client="ca-pub-2075086355753452"
          data-ad-slot="3250763143"
          data-ad-format="auto"
          data-full-width-responsive="true"
        ></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

        <section class="single-plan">
          <h2>Revenue from YouTube - Alakh Pandey (Physics Wallah)</h2>
          <p>
            Discover the inspiring success story of Alakh Pandey, known as
            Physics Wallah on YouTube. Learn how he generates revenue from his
            educational content and has become a prominent figure on the
            platform.
          </p>
          <a
            href="https://youtube.com/shorts/vgE5NF9HUao?feature=share"
            target="_blank"
            >Watch Now</a
          >
        </section>

        <section class="single-plan">
          <h2>Marwadi business tricks</h2>
          <p>
            Marwari business families operate the majority of the long-standing
            companies in places like Kolkata and Mumbai. Any time you bring up
            clothing, jewellery, or furniture especially wholesale you'll find a
            number of Marwari businessmen and women participating in the market
            and reaping respectable financial rewards.
          </p>
          <a href="https://fb.watch/nOTz2gc-RS/?mibextid=NnVzG8" target="_blank"
            >Watch Now</a
          >
        </section>
      </div>

      <div class="aside">
        <h2>Youtube revenue based on views</h2>
        <img src="../assets/YouTube income.jpg" alt="youtube income" />
      </div>
    </section>
    <%- include('../../partials/footer.ejs'); %>
  </body>
</html>
