<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Business Plans, Revenue Strategies, and Success Stories</title>
    <meta
      name="description"
      content="Explore essential information on how to make a business plan, revenue and marketing spend for e-commerce, and inspiring success stories from entrepreneurs. Learn from real-world examples and take your business to new heights."
    />
    <link rel="stylesheet" href="../css/businessplans.css" />
    <%- include('../../partials/head.ejs') %>
  </head>

  <body style="height: 100vh">
    <%- include('../../partials/navbar.ejs') %>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Navbar -->

    <!-- main body start -->
    <h1 class="text-center m-3">Contact us</h1>
    <section class="text-center m-3 p-1">
      <p>
        <strong>Registered Address: </strong>74, Ramanuj Nagar Gwalior MADHYA
        PRADESH 474011
      </p>
      <p>
        <strong>Operational Address: </strong>74, Ramanuj Nagar Gwalior MADHYA
        PRADESH 474011
      </p>
      <p><strong>Mobile No: </strong>+91 8319349660</p>
      <p><strong>E-Mail ID: </strong>qualitywise7@gmail.com</p>
    </section>

    <div class="d-flex justify-content-center">
      <a
        class="btn btn-primary m-3 p-2"
        href="https://api.whatsapp.com/send?phone=918319349660&text=I%20want%20to%20know%20more!"
        role="button"
        target="_blank"
        >Contact on WhatsApp</a
      >
    </div>

    <!-- main body end -->
    <%- include('../../partials/footer.ejs') %>
  </body>
</html>
