<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2075086355753452"
      crossorigin="anonymous"
    ></script>
    <meta charset="UTF-8" />
    <title>Business Plans, Revenue Strategies, and Success Stories</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Explore essential information on how to make a business plan, revenue and marketing spend for e-commerce, and inspiring success stories from entrepreneurs. Learn from real-world examples and take your business to new heights."
    />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/businessplans.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2075086355753452"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/f6b356be29.js"
      crossorigin="anonymous"
    ></script>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-1JQVXS3B5L"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-1JQVXS3B5L");
    </script>

    <link rel="icon" href="./../fevicon.ico" type="profile" />
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-MFBK5637");
    </script>
    <!-- End Google Tag Manager -->
  </head>

  <%- include('../../partials/head.ejs') %>
  <body style="height: 100vh;">
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-MFBK5637"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Navbar -->

    <!-- main body start -->
    <h1 class="text-center m-3">Contact us</h1>
    <section class="text-center m-3 p-1">
      <p>
        <strong>Registered Address: </strong>74, Ramanuj Nagar Gwalior MADHYA
        PRADESH 474011
      </p>
      <p>
        <strong>Operational Address: </strong>74, Ramanuj Nagar Gwalior MADHYA
        PRADESH 474011
      </p>
      <p><strong>Mobile No: </strong>+91 8319349660</p>
      <p><strong>E-Mail ID: </strong>qualitywise7@gmail.com</p>
    </section>

    <div class="d-flex justify-content-center">
      <a
        class="btn btn-primary m-3 p-2"
        href="https://api.whatsapp.com/send?phone=918319349660&text=I%20want%20to%20know%20more!"
        role="button"
        target="_blank"
        >Contact on WhatsApp</a
      >
    </div>

    <!-- main body end -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </body>
  <%- include('../../partials/footer.ejs') %>
</html>
