<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Software Development Training - Web development, FullStack, Backend, Java,
      Reactjs
    </title>
    <meta
      name="description"
      content="Unlock Your Career Potential with JobsDoor360: Expert Development Programs & Job Opportunities. Learn Full Stack, Java, and Web Development. Advance Your Career with Industry Professionals. Gain In-Demand Skills for Software Jobs. Practice Interviews and Perfect Your CV. Join Now for a Spring Demo!"
    />
    <link rel="stylesheet" href="/staticfiles/mainfiles/myaccount/jdmasterpanel/style.css" />
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <%- include('./partials/head.ejs') %>
  </head>

  <body>
    <!-- Navbar -->
    <%- include('./partials/navbar.ejs') %>
    
    myaccount body content
    <script type="module" src="/staticfiles/mainfiles/myaccount/jdmasterpanel/script.js"></script>
    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
