/* Apply linear gradient background */
body {
  background: linear-gradient(135deg, #deeef3, #e0e3fb);
}

/* Custom styles for job cards */
.job-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  height: 100%; 
}

.job-card h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.job-card p {
  margin: 5px 0;
}

.job-card .location {
  font-weight: bold;
  color: #555;
}


/* .card-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
} */


.h6{
  background-color: #282323;
}

.lifestyle-list {
  padding-left: 20px; /* Adjusts the left padding for list items */
  margin-top: 5px; /* Adjusts the top margin for the list */
}

.lifestyle-list li {
  margin-bottom: 5px; /* Adds space between list items */
}

.lifestyle-list a {
  color: #007bff; /* Adjusts the link color */
  text-decoration: none; /* Removes underline from links */
}

.lifestyle-list a:hover {
  text-decoration: underline; /* Adds underline on hover */
}
