<!DOCTYPE html>
<html>
  <head>
    <title>Buy Our Projects</title>
    <meta
      name="description"
      content="Experience the Power of Jobsdoor360's Job-Oriented Software Learning Demo Class! Join our Saturday session from 10:00 AM to 11:00 AM and discover exciting opportunities in web development, MERN-stack development, and backend development. Don't miss this chance to kickstart your tech career. Join Now!"
    />
    <%- include('../../partials/head.ejs'); %>
    <link rel="stylesheet" href="style.css" />
    <style>
      .features-section {
        padding: 40px 0;
        background-color: #ffffff;
      }

      .feature {
        text-align: center;
      }

      .feature-icon {
        font-size: 48px;
        color: #007bff;
      }

      .testimonial {
        padding: 50px 0;
        background-color: #cdd1d5;
        text-align: center;
      }

      .card {
        width: 350px;
        height: 300px;
        border-radius: 20px;
      }
      .zoom {
        transition: transform 0.5s; /* Animation */
        width: 350px;
        height: 300px;
        margin: 0 auto;
      }

      .zoom:hover {
        transform: scale(1.04);
      }
    </style>
  </head>

  <body>
    <%- include('../../partials/navbar.ejs'); %>
    <section id="features" class="features-section">
      <div class="container">
        <h4
          class="text-center mb-4"
          style="
            font-style: italic;
            text-shadow: #babcbe 3px 2px 4px;
            margin-top: -25px;
          "
        >
          Buy these projects for just Rs. 1500 each <br />
          We will help you in project setup as well
        </h4>
        <div class="row">
          <div class="col-md-4 my-3">
            <div class="card shadow-lg zoom">
              <div class="card-body">
                <div class="feature">
                  <h3>LinkedIn Scraping</h3>
                  <p style="text-align: justify; margin-top: 20px">
                    Elevate your talent acquisition strategy with our LinkedIn
                    scraping solution. Extract valuable insights from LinkedIn
                    profiles effortlessly. Integrate our scraper into your
                    project and let us assist you in setting up for seamless
                    implementation.
                  </p>
                  <a
                    href="https://api.whatsapp.com/send?phone=918319349660&text=I want to know more!"
                    class="btn btn-outline-info"
                    >Buy</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 my-3">
            <div class="card shadow-lg zoom">
              <div class="card-body">
                <div class="feature">
                  <h3>Naukri.com Scraping</h3>
                  <p style="text-align: justify; margin-top: 20px">
                    Optimize your recruitment process with our Naukri.com
                    scraping tool. Access candidate data efficiently and
                    ethically. Utilize our scraper in your project and leverage
                    our expertise to facilitate hassle-free setup.
                  </p>
                  <a
                    href="https://api.whatsapp.com/send?phone=918319349660&text=I want to know more!"
                    class="btn btn-outline-info"
                    >Buy</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 my-3">
            <div class="card shadow-lg zoom">
              <div class="card-body">
                <div class="feature">
                  <h3>FreeJobAlert Scraping</h3>
                  <p style="text-align: justify; margin-top: 20px">
                    Enhance your job search with our FreeJobAlert scraping tool.
                    Stay updated on real-time job listings effortlessly.
                    Incorporate our scraper into your project and rely on our
                    support to configure it smoothly for your needs.
                  </p>
                  <a
                    href="https://api.whatsapp.com/send?phone=918319349660&text=I want to know more!"
                    class="btn btn-outline-info"
                    >Buy</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include('../../partials/footer.ejs'); %>
  </body>
</html>
