<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Jobs For You</title>
    <meta
      name="description"
      content="Unlock remarkable opportunities with JobsDoor360's seamless resume upload. Elevate your career journey by submitting your comprehensive CV, and stay ahead as we expand to accommodate additional details. Join us on the path to success with streamlined job applications and personalized career development."
    />
    <link
      rel="stylesheet"
      href="/staticfiles/mainfiles/myaccount/jobsforyou/style.css"
    />
    <%- include('../../../partials/head.ejs') %>
  </head>

  <body>
    <%- include('../../../partials/navbar.ejs') %>
    <section>
      <div class="container mt-2">
        <div style="max-width: 450px; margin: 0 auto">
          <div class="row justify-content-center">
            <div class="col">
              <h5 class="bg p-2 my-4 text-center text-white rounded">
                <i class="fas fa-briefcase me-2"></i>Explore Job Opportunities
                Here...
              </h5>
              <form>
                <div class="form-group mb-3">
                  <label for="locationInput" class="form-label text-primary">
                    <i class="fas fa-map-marker-alt me-2"></i>Location
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    id="locationInput"
                    placeholder="Enter your desired location"
                  />
                </div>
                <div class="form-group mb-3">
                  <label for="jobTypeInput" class="form-label text-primary">
                    <i class="fas fa-tasks me-2"></i>Job Type
                  </label>
                  <select class="form-control" id="jobTypeInput">
                    <option value="">All Jobs</option>
                    <option value="Full Time">Private</option>
                    <option value="Part Time">Government</option>
                  </select>
                </div>
                <div class="form-group mb-3">
                  <label for="searchInput" class="form-label text-primary">
                    <i class="fas fa-search me-2"></i>Search Jobs
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    id="searchInput"
                    placeholder="Search for jobs..."
                  />
                </div>
                <div class="form-group mb-3 text-center">
                  <button
                    class="btn btn-primary buttn"
                    type="button"
                    id="searchButton"
                  >
                    <i class="fas fa-search me-2"></i>Search Now
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div id="loading" class="loading">Getting jobs for you...</div>
        <div class="row">
          <div class="col">
            <div id="results" class="result-field"></div>
          </div>
        </div>
      </div>

      <!-- Offcanvas -->
      <div
        class="offcanvas offcanvas-start"
        tabindex="-1"
        id="optionsOffcanvas"
      >
        <div class="offcanvas-header">
          <h5 class="offcanvas-title">My Account</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
      </div>
    </section>

    <%- include('../../../partials/footer.ejs') %>
    <div class="chat-back-to-top">
      <button id="like-button"><i class="fa-solid fa-thumbs-up"></i></button>
      <button id="dislike-button">
        <i class="fa-solid fa-thumbs-down"></i>
      </button>
      <div class="whatsapp-chat">
        <a
          href="https://api.whatsapp.com/send?phone=918319349660&text=I want to know more!"
          target="_blank"
          ><i class="fab fa-whatsapp"></i
        ></a>
      </div>
      <button id="backToTopBtn" class="back-to-top-btn" onclick="scrollToTop()">
        <i class="fa-solid fa-chevron-up"></i>
      </button>
    </div>

    <script src="../../website_data/jobs_data.js"></script>
    <script src="../../website_data/website_masterdata.js"></script>
    <script
      type="module"
      src="/staticfiles/mainfiles/myaccount/script.js"
    ></script>
    <script
      type="module"
      src="/staticfiles/mainfiles/myaccount/jobsforyou/script.js"
    ></script>
  </body>
</html>
