<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Jobs For You</title>
    <meta
      name="description"
      content="Unlock remarkable opportunities with JobsDoor360's seamless resume upload. Elevate your career journey by submitting your comprehensive CV, and stay ahead as we expand to accommodate additional details. Join us on the path to success with streamlined job applications and personalized career development."
    />
    <link rel="stylesheet" href="css/jobsforyou.css" />
    <%- include('../../../partials/head.ejs') %>
  </head>

  <body>
    <%- include('../../../partials/navbar.ejs') %>
    <section>
      <div class="container mt-3 mr-4 ml-4">
        <button id="openModalButton" class="btn btn-primary mt-3">
          Change Qualification
        </button>

        <div class="row justify-content-center">
          <div class="col job-head">
            <h2 class="jobs-header text-center">Jobs for You</h2>
          </div>
        </div>

        <!-- Filtering based on location -->
        <div class="container mt-0">
          <div class="row justify-content-start">
            <div class="col-md-6 col-lg-3 mb-3">
              <label for="locationInput" class="form-label fw-bold"
                >Location:</label
              >
              <input
                type="text"
                class="form-control"
                id="locationInput"
                placeholder="Desired Location"
              />
              <div id="locationSuggestions" class="list-group mt-2"></div>
            </div>
            <div class="col-md-6 col-lg-3 mb-3">
              <label for="jobTypeInput" class="form-label fw-bold"
                >Job Type:</label
              >
              <select class="form-select" id="jobTypeInput">
                <option value="">All Jobs</option>
                <option value="Full Time">Private</option>
                <option value="Part Time">Government</option>
              </select>
            </div>
          </div>
        </div>

        <div id="loading" class="loading">getting jobs for you...</div>
        <div class="row">
          <div class="col">
            <div id="results" class="result-field"></div>
          </div>
        </div>
      </div>

      <!-- Offcanvas -->
      <div
        class="offcanvas offcanvas-start"
        tabindex="-1"
        id="optionsOffcanvas"
      >
        <div class="offcanvas-header">
          <h5 class="offcanvas-title">My Account</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
      </div>
    </section>

    <!-- Modal structure -->
    <div
      class="modal fade"
      id="myModal1"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Education Details
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
              id="closed1"
            ></button>
          </div>
          <div class="modal-body">
            <form>
              <!-- 12th -->
              <div class="mb-3">
                <h3>12th*</h3>
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label for="twelfthSubject" class="form-label"
                      >Subject</label
                    >
                    <select class="form-select" id="twelfthSubject"></select>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="twelfthPercentage" class="form-label"
                      >Percentage</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="twelfthPercentage"
                      placeholder="e.g. 70"
                      required
                    />
                  </div>
                </div>
              </div>

              <!-- Diploma -->
              <div class="mb-3">
                <h3>Diploma</h3>
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label for="diplomaStream" class="form-label">Stream</label>
                    <select class="form-select" id="diplomaStream"></select>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="diplomaName" class="form-label"
                      >Diploma Name</label
                    >
                    <select class="form-select" id="diplomaName"></select>
                  </div>
                </div>
              </div>

              <!-- Graduation -->
              <div class="mb-3">
                <h3>Graduation</h3>
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label for="graduationStream" class="form-label"
                      >Stream</label
                    >
                    <select class="form-select" id="graduationStream"></select>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="graduationDegree" class="form-label"
                      >Degree</label
                    >
                    <select class="form-select" id="graduationDegree"></select>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="graduationPercentage" class="form-label"
                      >Percentage</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="graduationPercentage"
                      placeholder="e.g. 80"
                    />
                  </div>
                </div>
              </div>

              <!-- Post Graduation -->
              <div class="mb-3">
                <h3>Post Graduation</h3>
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label for="pgStream" class="form-label">Stream</label>
                    <select class="form-select" id="pgStream"></select>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="pgDegree" class="form-label">Degree</label>
                    <select class="form-select" id="pgDegree"></select>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="pgPercentage" class="form-label"
                      >Percentage</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="pgPercentage"
                      placeholder="e.g. 75"
                    />
                  </div>
                </div>
              </div>

              <!-- Additional Information  -->
              <div class="mb-3">
                <h3>Additional Information</h3>

                <!-- Category -->
                <div class="mb-3">
                  <label for="categories" class="form-label">Category</label>
                  <select class="form-select" id="categories"></select>
                </div>

                <!-- Date of Birth -->
                <div class="mb-3">
                  <label for="user-dob" class="form-label">Date of Birth</label>
                  <input type="date" class="form-control" id="user-dob" />
                </div>
              </div>
            </form>
          </div>

          <!-- Buttons -->
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              aria-label="Close"
              id="closed2"
            >
              Close
            </button>
            <button type="submit" id="saveDetails" class="btn btn-primary">
              Search Jobs
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->

    <%- include('../../../partials/footer.ejs') %>

    <!-- WhatsApp Chat Button -->
    <div class="chat-back-to-top">
      <button id="like-button">
        <i class="fa-solid fa-thumbs-up"></i>
      </button>
      <button id="dislike-button">
        <i class="fa-solid fa-thumbs-down"></i>
      </button>
      <div class="whatsapp-chat">
        <a
          href="https://api.whatsapp.com/send?phone=918319349660&text=I want to know more!"
          target="_blank"
        >
          <i class="fab fa-whatsapp"></i>
        </a>
      </div>
      <button id="backToTopBtn" class="back-to-top-btn" onclick="scrollToTop()">
        <i class="fa-solid fa-chevron-up"></i>
      </button>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script src="../../website_data/jobs_data.js"></script>
    <script src="../../website_data/website_masterdata.js"></script>
    <script type="module" src="../../js/myaccount.js"></script>
    <script type="module" src="./js/jobsforyoupractice.js"></script>
  </body>
</html>
