<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      name="description"
      content="Discover a collection of inspiring videos and stories that will ignite your motivation and empower you to overcome challenges. Unlock your full potential and achieve greatness with our handpicked selection of motivational content."
    />
    <title>Inspiration and Motivation: Unleash Your Full Potential</title>
    <link rel="stylesheet" href="../css/motivation.css" />


    <%- include('../../partials/head.ejs') %>
  </head>

  <body>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Navbar -->

    <%- include('../../partials/navbar.ejs') %>

    <!-- Motivation Section -->

    <section class="motivation-section">
      <div class="motivation-content">
        <div class="motivation-item">
          <h2>I am unstoppable</h2>
          <p>
            Watch this inspiring video that shows the power of determination and
            unstoppable spirit.
          </p>
          <a
            href="https://youtube.com/shorts/6GznCdTSOCw?feature=share"
            target="_blank"
            >Watch Video</a
          >
        </div>

        <div class="motivation-item">
          <h2>Bill Gates Study 15 Hrs</h2>
          <p>
            Discover how Bill Gates' dedication to learning led him to study for
            15 hours a day.
          </p>
          <a
            href="https://youtube.com/shorts/67BudEJVIfE?feature=share"
            target="_blank"
            >Watch Video</a
          >
        </div>

        <div class="motivation-item">
          <h2>English is not necessary</h2>
          <p>
            Learn how language barriers should not hold you back from achieving
            your goals.
          </p>
          <a
            href="https://youtube.com/shorts/lwRT4iG0qfY?feature=share"
            target="_blank"
            >Watch Video</a
          >
        </div>

        <div class="motivation-item">
          <h2>Swami Ji Newspaper Memorized</h2>
          <p>
            Witness the incredible feat of Swami Ji memorizing an entire
            newspaper.
          </p>
          <a
            href="https://youtube.com/shorts/j0I4G1pfGmA?feature=share"
            target="_blank"
            >Watch Video</a
          >
        </div>

        <div class="motivation-item">
          <h2>Life Changing Video</h2>
          <p>
            Explore this collection of 7 YouTube videos that can transform your
            life.
          </p>
          <a
            href="https://www.linkedin.com/posts/spectrumitg_7-youtube-videos-that-will-change-your-life-ugcPost-7091252381220298752-_E6o?utm_source=share&utm_medium=member_android"
            target="_blank"
            >Go to Post</a
          >
        </div>
      </div>
    </section>

    <!-- vertical Adds -->
    <ins
      class="adsbygoogle"
      style="display: block"
      data-ad-client="ca-pub-2075086355753452"
      data-ad-slot="6409648643"
      data-ad-format="auto"
      data-full-width-responsive="true"
    ></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    <!-- Footer -->

    <%- include('../../partials/footer.ejs') %>
  </body>
</html>
