<!DOCTYPE html>
<html lang="en">

<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2075086355753452"
        crossorigin="anonymous"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description"
        content="Discover a collection of inspiring videos and stories that will ignite your motivation and empower you to overcome challenges. Unlock your full potential and achieve greatness with our handpicked selection of motivational content." />
    <title>Inspiration and Motivation: Unleash Your Full Potential</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/motivation.css" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/f6b356be29.js" crossorigin="anonymous"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-1JQVXS3B5L"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "G-1JQVXS3B5L");
    </script>

<link rel="icon" href="./../fevicon.ico" type="profile" />
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-MFBK5637');</script>
        <!-- End Google Tag Manager -->
    </head>
    
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MFBK5637"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
    <!-- Navbar -->

    <%- include('../../partials/head.ejs') %>




    <!-- Motivation Section -->

    <section class="motivation-section">
        <div class="motivation-content">
            <div class="motivation-item">
                <h2>I am unstoppable</h2>
                <p>
                    Watch this inspiring video that shows the power of
                    determination and unstoppable spirit.
                </p>
                <a href="https://youtube.com/shorts/6GznCdTSOCw?feature=share" target="_blank">Watch Video</a>
            </div>

            <div class="motivation-item">
                <h2>Bill Gates Study 15 Hrs</h2>
                <p>
                    Discover how Bill Gates' dedication to learning led him
                    to study for 15 hours a day.
                </p>
                <a href="https://youtube.com/shorts/67BudEJVIfE?feature=share" target="_blank">Watch Video</a>
            </div>

            <div class="motivation-item">
                <h2>English is not necessary</h2>
                <p>
                    Learn how language barriers should not hold you back
                    from achieving your goals.
                </p>
                <a href="https://youtube.com/shorts/lwRT4iG0qfY?feature=share" target="_blank">Watch Video</a>
            </div>

            <div class="motivation-item">
                <h2>Swami Ji Newspaper Memorized</h2>
                <p>
                    Witness the incredible feat of Swami Ji memorizing an
                    entire newspaper.
                </p>
                <a href="https://youtube.com/shorts/j0I4G1pfGmA?feature=share" target="_blank">Watch Video</a>
            </div>

            <div class="motivation-item">
                <h2>Life Changing Video</h2>
                <p>
                    Explore this collection of 7 YouTube videos that can
                    transform your life.
                </p>
                <a href="https://www.linkedin.com/posts/spectrumitg_7-youtube-videos-that-will-change-your-life-ugcPost-7091252381220298752-_E6o?utm_source=share&utm_medium=member_android"
                    target="_blank">Go to Post</a>
            </div>
        </div>
    </section>

    <!-- vertical Adds -->
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2075086355753452" data-ad-slot="6409648643"
        data-ad-format="auto" data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    <!-- Footer -->

    <%- include('../../partials/footer.ejs') %>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>