<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hiring Portal</title>
    <link rel="stylesheet" href="/staticfiles/mainfiles/myaccount/jdpanel/style.css">
    <%- include('../../../partials/head.ejs') %>
  </head>
  <body>
    <%- include('../../../partials/navbar.ejs') %>
    <h2>jdpanel</h2>
    <%- include('../../../partials/footer.ejs') %>
    <script type="module" src="/staticfiles/mainfiles/myaccount/jdpanel/script.js"></script>
  </body>
</html>
