<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Profile Analyzer</title>
    <meta name="description" content="Profile Analyzer" />
    <link
      rel="stylesheet"
      href="/staticfiles/mainfiles/careeroptions/profileanalyzer/style.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <%- include('../../../partials/head.ejs') %>
  </head>

  <body>
    <%- include('../../../partials/navbar.ejs') %>

    <div class="container">
      <div style="max-width: 400px; margin: 0 auto; margin-top: -30px">
        <h1 class="bg text-center mb-5 rounded">Profile Analyzer</h1>
        <form id="searchForm">
          <div class="form-group">
            <label for="jobType">Job Type</label>
            <select id="jobType" class="form-control"></select>
          </div>
          <div class="form-group" style="display: none">
            <label for="industry">Industry</label>
            <select id="industry" class="form-control">
              All
            </select>
          </div>
          <div class="form-group">
            <label for="workProfile">Work Profile</label>
            <div class="input-group">
              <select type="text" id="profile" class="form-control"></select>
              <div class="input-group-append">
                <span class="input-group-text input-group-append-text"
                  ><i class="fas fa-user-tie"></i
                ></span>
              </div>
            </div>
          </div>
          <br />
          <button
            type="submit"
            class="btn btn-block buttn text-white"
            id="submitButton"
          >
            <i class="fas fa-paper-plane"></i> Submit
          </button>
        </form>
      </div>
      <br />
      <div class="row">
        <div class="container mt-3">
          <div class="row justify-content-center">
            <div class="col job-head">
              <h2 class="jobs-header text-center">Jobs</h2>
            </div>
          </div>
          <div id="loading" class="loading">getting jobs for you...</div>
          <div class="row">
            <div class="col">
              <div id="results" class="result-field"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->

    <%- include('../../../partials/footer.ejs') %>

    <!-- WhatsApp Chat Button -->
    <div class="chat-back-to-top">
      <!-- <button id="like-button">
        <i class="fa-solid fa-thumbs-up"></i>
      </button>
      <button id="dislike-button">
        <i class="fa-solid fa-thumbs-down"></i>
      </button> -->
      <div class="whatsapp-chat">
        <a
          href="https://api.whatsapp.com/send?phone=918319349660&text=I want to know more!"
          target="_blank"
        >
          <i class="fab fa-whatsapp"></i>
        </a>
      </div>
      <button id="backToTopBtn" class="back-to-top-btn" onclick="scrollToTop()">
        <i class="fa-solid fa-chevron-up"></i>
      </button>
    </div>

    <!-- The Bootstrap Modal -->
    <div
      class="modal fade"
      id="myModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              What Can We Improve on Our Website?
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <textarea
              id="feedback"
              class="form-control"
              placeholder="Your feedback..."
            ></textarea>
            <input
              type="text"
              id="phoneNumber"
              class="form-control"
              placeholder="Your phone number..."
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button id="submitFeedback" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>
    <script src="../../website_data/jobs_data.js"></script>
    <script src="../../website_data/website_masterdata.js"></script>
    <script
      type="module"
      src="/staticfiles/mainfiles/careeroptions/profileanalyzer/script.js"
    ></script>
    <script type="module" src="/staticfiles/script.js"></script>

    <script>
      document
        .getElementById("searchForm")
        .addEventListener("submit", function (event) {
          event.preventDefault(); // Prevent default form submission behavior
        });
    </script>
  </body>
</html>
