<!DOCTYPE html>
<html>
  <head>
    <title>Donate Books</title>
    <meta
      name="description"
      content="Experience the Power of Jobsdoor360's Job-Oriented Software Learning Demo Class! Join our Saturday session from 10:00 AM to 11:00 AM and discover exciting opportunities in web development, MERN-stack development, and backend development. Don't miss this chance to kickstart your tech career. Join Now!"
    />
    <link rel="stylesheet" href="/staticfiles/mainfiles/socialwork/donatebook/style.css" />
    <link rel="stylesheet" href="style.css" />

    <%- include('../../../partials/head.ejs') %>
  </head>

  <body>
    <%- include('../../../partials/navbar.ejs') %>
    <section>
      <div class="socialwork">
        <h1 class="heading">Donate Books</h1>
        <p class="para">
          <strong>"</strong>In a world brimming with stories and knowledge
          donating books is like sharing the key to endless possibilities. Every
          donated book is a doorway to adventure a path to wisdom, and an
          invitation to imagine the unimaginable. <strong>"</strong>
        </p>
        <p id="timer">15</p>
        <a
          href="https://docs.google.com/forms/d/1-eVWpHDS1fJ13XPaNoKwh8wMTncCuC0xL7r02tL_RT4/"
        >
          <button id="joinBtn">Donate Book</button></a
        >
      </div>
    </section>
    <script src="/staticfiles/mainfiles/socialwork/donatebook/script.js"></script>

    <%- include('../../../partials/footer.ejs') %>
  </body>
</html>
