<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Apply</title>
    <link rel="stylesheet" href="/staticfiles/mainfiles/apply/style.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    <%- include('../../partials/head.ejs') %>
  </head>

  <body>
    <%- include('../../partials/navbar.ejs') %>
    <div class="main_container_signup">
      <div class="signup-container">
        <h2 class="signup-head">Apply</h2>
        <form id="signup-form">
          <label for="full_name">Full Name:</label>
          <input
            type="text"
            id="username"
            name="full_name"
            required
            autocomplete="name"
          />

          <label for="phone">Phone:</label>
          <input
            type="text"
            id="phoneNumber"
            name="phone"
            required
            autocomplete="phone"
          />

          <label for="email">Email:</label>
          <input
            type="email"
            id="email"
            name="email"
            required
            autocomplete="email"
          />
          <div class="d-flex justify-content-center flex-column mt-2">
            <label for="">Upload Cv</label>
            <input
              id="cv"
              type="file"
              class="form-control cv"
              accept="cv/*"
              required
            />
            <span class="form-text"></span>
          </div>

          <button type="submit" id="apply-btn" style="margin-top: 20px">Apply</button>
        </form>
      </div>
    </div>
    <%- include('../../partials/footer.ejs') %>
    <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/toastify-js"
  ></script>
    <script
      type="module"
      src="/staticfiles/mainfiles/apply/script.js"
    ></script>
  </body>
</html>
