<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Apply</title>
    <link rel="stylesheet" href="/staticfiles/mainfiles/apply/style.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    <%- include('../../partials/head.ejs') %>
  </head>

  <body>
    <%- include('../../partials/navbar.ejs') %>
    <div class="main_container_signup">
      <div class="signup-container">
        <h2 class="signup-head">Apply</h2>
        <form id="signup-form">
          <label for="full_name">Full Name:</label>
          <input
            type="text"
            id="username"
            name="full_name"
            required
            autocomplete="name"
          />

          <label for="phone">Phone:</label>
          <input
            type="text"
            id="phoneNumber"
            name="phone"
            required
            autocomplete="phone"
          />

          <label for="email">Email:</label>
          <input
            type="email"
            id="email"
            name="email"
            required
            autocomplete="email"
          />
          <fieldset>
            <legend class="custom-legend">
              Applying For : <span class="small-text">(Tick checkbox)</span>
            </legend>
            <input
              type="checkbox"
              id="internship"
              name="applying_for"
              value="Software Engineer Internship"
            />
            
            
            <label for="Software Engineer Internship">Software Engineer Internship</label><br />

            <input
              type="checkbox"
              id="internship"
              name="applying_for"
              value="Product Manager Internship"
            />
            <label for="Product Manager Internship"> Product Manager Internship</label><br />

            <input
              type="checkbox"
              id="interview_preparation"
              name="applying_for"
              value="Interview Preparation classes"
            />
            <label for="interview_preparation"
              >Interview Preparation classes</label
            ><br />

            <input
              type="checkbox"
              id="placement_classes"
              name="applying_for"
              value="Placement classes"
            />
            <label for="placement_classes">Placement classes</label><br />

            <input
              type="checkbox"
              id="mock_interviews"
              name="applying_for"
              value="Mock Interviews"
            />
            <label for="mock_interviews">Mock Interviews</label><br />

            <input
              type="checkbox"
              id="cv_making"
              name="applying_for"
              value="CV Making"
            />
            <label for="cv_making">CV Making</label><br />

            <input
              type="checkbox"
              id="career_consultancy"
              name="applying_for"
              value="Career Consultancy"
            />
            <label for="career_consultancy">Career Consultancy</label><br />

            <input
              type="checkbox"
              id="major_project"
              name="applying_for"
              value="Major project"
            />
            <label for="major_project">Major project</label><br />

            <input
              type="checkbox"
              id="buy_projects"
              name="applying_for"
              value="Buy Projects"
            />
            <label for="buy_projects">Buy Projects</label><br />

            <input
              type="checkbox"
              id="english_classes"
              name="applying_for"
              value="English classes"
            />
            <label for="english_classes">English classes</label><br />

            <input
              type="checkbox"
              id="business_classes"
              name="applying_for"
              value="Business classes"
            />
            <label for="business_classes">Business classes</label><br />

            <!--<input
              type="checkbox"
              id="looking_for_job"
              name="applying_for"
              value="Looking for job"
            />
            <label for="looking_for_job">Looking for job</label><br />-->
          </fieldset>
          <button type="submit" id="apply-btn" style="margin-top: 20px">
            Apply
          </button>
        </form>
      </div>
    </div>

    <%- include('../../partials/footer.ejs') %>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"
    ></script>
    <script type="module" src="/staticfiles/mainfiles/apply/script.js"></script>
  </body>
</html>
