<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Options</title>
    <link rel="stylesheet" href="/staticfiles/mainfiles/careeroptions/job-options/style.css">
</head>
    <body>
        <!-- <a href="#" id="job-option">Job-Option</a> -->
        <div id="data-container"></div>
        <script src="/staticfiles/mainfiles/careeroptions/job-options/script.js"></script>
    </body>
    </html>