.profile_analyzer {
    padding: 2rem;
}

.profileForm {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

form {
    display: grid;
    gap: 15px;
}

label {
    font-weight: bold;
    color: #666;
}

select,
button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.results {
    display: none;
}

.results-visible {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 6px 23px rgb(0 0 0 / 14%);
    text-align: center;
}

.result-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

h2 {
    font-size: 1.2rem;
    color: #333;
}

p {
    color: #555;
}
