.profile_analyzer {
    padding: 2rem;
}

.profileForm {
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

form {
    display: grid;
    gap: 15px;
}

label {
    font-weight: bold;
    color: #666;
}

select {
    max-width: 270px;
    word-wrap: break-word;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
}

button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
}

#submitButton {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

#submitButton:hover {
    background-color: #0056b3;
}

.container {
    margin-top: 50px;
}

section {
    display: flex;
    flex-direction: column;
}

.job-head {
    display: flex;
    justify-content: center;
}

.jobs-header {
    font-size: 24px;
    color: black;
    border-bottom: 2px solid;
    font-family: math;
    width: 100vw;
    padding: 0.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.loading {
    display: block;
    font-size: 2rem;
    font-family: "Ysabeau SC";
    text-align: center;
    margin: 10rem;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card a {
    text-decoration: none;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-title {
    font-size: 18px;
    margin: 0;
    background: #504387;
    color: white !important;
    border-radius: 5px;
    padding: 1px 5px;
}

.card-text {
    font-size: 14px;
    color: #666;
}

@media only screen and (max-width: 600px) {
    .loading {
        display: block;
        font-size: 1rem;
        font-family: "Ysabeau SC";
        text-align: center;
        margin: 8rem;
    }
}

/* .results {
    display: none;
}

.results-visible {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 6px 23px rgb(0 0 0 / 14%);
    text-align: center;
}

.result-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

h2 {
    font-size: 1.2rem;
    color: #333;
}

p {
    color: #555;
} */
