<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Job Listings</title>
    <%- include('../../../partials/head.ejs') %>
    <style>
      @media (max-width: 576px) {
        .table-responsive {
          overflow-x: auto;
          -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS devices */
          max-width: 100%; /* Prevent table from overflowing its container */
        }
      }
    </style>
  </head>
  <body>
    <%- include('../../../partials/navbar.ejs') %>

    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <h4 class="text-center text-white bg-dark p-2 mb-4">
            Candidate List
          </h4>
        </div>
      </div>
      <!-- Search bar -->
      <div class="row mb-3">
        <div class="col">
          <input
            type="text"
            id="searchInput"
            class="form-control"
            placeholder="Search candidates..."
          />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="table-responsive">
            <!-- Use table-responsive class -->
            <table class="table table-bordered table-striped bg-light">
              <thead class="text-white text-center">
                <tr>
                  <th class="text-center">Id</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Qualification</th>
                  <th>Skill</th>
                </tr>
              </thead>
              <tbody id="users_data" class="text-center">
                <!-- Users' data will be added here -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <script type="module">
      const email = localStorage.getItem("email");
      if (!email) {
        window.location.href = "/login/?redirect_url=hiring";
      }

      import { initializeApp } from "https://www.gstatic.com/firebasejs/10.1.0/firebase-app.js";
      import {
        getFirestore,
        collection,
        getDocs,
      } from "https://www.gstatic.com/firebasejs/10.1.0/firebase-firestore.js";

      const firebaseConfig = {
        apiKey: "AIzaSyDzoJJ_325VL_axuuAFzDf3Bwt_ENzu2rM",
        authDomain: "jobsdoor360-39b87.firebaseapp.com",
        databaseURL: "https://jobsdoor360-39b87-default-rtdb.firebaseio.com",
        projectId: "jobsdoor360-39b87",
        storageBucket: "jobsdoor360-39b87.appspot.com",
        messagingSenderId: "326416618185",
        appId: "1:326416618185:web:de19e90fe4f06006ef3318",
        measurementId: "G-60RHEMJNM6",
      };

      const app = initializeApp(firebaseConfig);
      const db = getFirestore(app);

      document.addEventListener("DOMContentLoaded", async function () {
        const jobListings = document.getElementById("users_data");

        try {
          const querySnapshot = await getDocs(collection(db, "user_profile"));
          let id = 1; // Initialize ID counter
          querySnapshot.forEach((doc) => {
            const data = doc.data();
            const row = document.createElement("tr");
            row.innerHTML = `
              <td>${id++}</td> <!-- Increment the ID counter -->
              <td>${data.about.firstName || "not found"}</td>
              <td>${data.about.email || "not found"}</td>
              <td>${data.education.degree || "not found"}</td>
              <td>${data.skills || "not found"}</td>`;
            jobListings.appendChild(row);
          });

          // Search functionality
          const searchInput = document.getElementById("searchInput");
          searchInput.addEventListener("input", function () {
            const query = searchInput.value.toLowerCase();
            const rows = jobListings.querySelectorAll("tr");

            rows.forEach((row) => {
              const name = row
                .querySelector("td:nth-child(2)")
                .textContent.toLowerCase();
              const email = row
                .querySelector("td:nth-child(3)")
                .textContent.toLowerCase();
              const qualification = row
                .querySelector("td:nth-child(4)")
                .textContent.toLowerCase();
              const skill = row
                .querySelector("td:nth-child(5)")
                .textContent.toLowerCase();
              if (
                name.includes(query) ||
                email.includes(query) ||
                qualification.includes(query) ||
                skill.includes(query)
              ) {
                row.style.display = "";
              } else {
                row.style.display = "none";
              }
            });
          });
        } catch (error) {
          console.error("Error retrieving users' data:", error);
        }
      });
    </script>

    <%- include('../../../partials/footer.ejs') %>
  </body>
</html>
