*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.heading{
    font-size: 2rem;
    font-weight: 900;
}
.demo{
    text-align: center;
}
.para {
    margin: 3rem;
    text-align: center;
    font-weight: 900;
    font-size: 1.5rem;
}
.para strong{
    font-size: 1.5rem; 
}