<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Log in</title>
    <link rel="stylesheet" href="/staticfiles/mainfiles/login/style.css" />
    <%- include('../../partials/head.ejs') %>
  </head>

  <body>
    <%- include('../../partials/navbar.ejs') %>
    <div class="login_parent">
      <div class="login-container" style="text-align: center">
        <a
          class="logo"
          style="background-color: #e8f0fe; border-radius: 10px"
          href="../index.html"
        >
          <img
            style="width: 80%; padding: 20px"
            src="/assets/Jobsdoor360 -logos__black.png"
            alt="logo"
          />
        </a>
        <h2 class="login-head">Login</h2>
        <form id="login-form">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required />

          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required />

          <button type="submit">Login</button>
        </form>

        <div class="lines-text">
          <span>OR</span>
        </div>

        <p class="bottom-heading">
          Do not have an account?
          <span>
            <a href="/signup/">Sign Up</a>
          </span>
        </p>
      </div>
    </div>
    <%- include('../../partials/footer.ejs') %>

    <script type="module" src="/staticfiles/mainfiles/login/script.js"></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"
    ></script>
  </body>
</html>
