<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Log in</title>
    <link rel="stylesheet" href="/staticfiles/mainfiles/login/style.css" />
    <%- include('../../partials/head.ejs') %>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
  </head>

  <body>
    <%- include('../../partials/navbar.ejs') %>
    <div class="login_parent">
      <div class="login-container" style="text-align: center">
        <h2 class="login-head">Login</h2>
        <form id="login-form">
          <label for="email">Email:</label>
          <input
            type="email"
            id="email"
            name="email"
            required
            placeholder="Email"
          />

          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required />

          <button type="submit" id="login-btn" style="margin-top: 20px">Login</button>
        </form>
        <p class="bottom-heading">
          <span>
            <a href="/forgotpassword/">Forgot password?</a>
          </span>
        </p>

        <button
          id="google-login-btn"
          class="google-button"
          style="
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: center;
            width: 100%;
          "
        >
          <i class="fab fa-google"></i><span>Login with Google</span>
        </button>
        <div class="lines-text">
          <span>OR</span>
        </div>

        <p class="bottom-heading">
          Do not have an account?
          <span>
            <a href="/signup/">Sign Up</a>
          </span>
        </p>
      </div>
    </div>
    <%- include('../../partials/footer.ejs') %>

    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"
    ></script>
    <script type="module" src="/staticfiles/mainfiles/login/script.js"></script>
  </body>
</html>
