<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Template Mo">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

    <title>Jobsdoor360 Workshop</title>
<!--

ART FACTORY

https://templatemo.com/tm-537-art-factory

-->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="assets/css/templatemo-art-factory.css">
    <link rel="stylesheet" type="text/css" href="assets/css/owl-carousel.css">

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#" class="logo">Jobsdoor-360</a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#welcome" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#about">About</a></li>
                            <li class="scroll-to-section"><a href="#services">Services</a></li>
                            <li class="scroll-to-section"><a href="#frequently-question">Frequently Questions</a></li>
                            <li class="submenu">
                                <a href="javascript:;">Drop Down</a>
                                <ul>
                                    <li><a href="/careeroptions">Blog</a></li>
                                </ul>
                            </li>
                            <li class="scroll-to-section"><a href="#contact-us">Contact Us</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->


    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">

        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="left-text col-lg-6 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                        <br><br><br><br><br>
                        <h1 style="font-size: 60px;">Unlocking Opportunities 
                            <br>
                            <strong>for YOU</strong></h1>
                        <p>100% Placement Assistance Top Product Companies. 
                        <br> Sign up for a Free Career Consultation, and receive your Blueprint To Success Today!</p>
                        <a href="https://razorpay.me/@jobsdoor360" class="main-button-slider">Register Now</a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                        <img src="assets/images/slider-icon.png" class="rounded img-fluid d-block mx-auto" alt="First Vector Graphic">
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->


    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s" style="padding-right: 40px;">
                    <img src="assets/images/banneradd.png" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
                <div class="right-text col-lg-5 col-md-12 col-sm-12 mobile-top-fix" style="text-align: center;">
                    <div class="left-heading" >
                        <h5>"Career Catalyst: Empowering Your Path to Success"</h5>
                    </div>
                    <br>
                    <div class="left-text">
                        <p style="font-size: 20px; font-weight: 500; padding-left:30px;" class="article-content">
                            ⦾ Introduction to Placement Process
                            <br><br>
                            ⦾ Resume Building
                            <br><br>
                            ⦾ Cover Letter Writing
                            <br><br>
                            ⦾ Networking Skills
                            <br><br>
                            ⦾ Interview Preparation
                            <br><br>
                            ⦾ Mock Interviews
                            <br><br>
                            ⦾ Technical Skills Enhancement
                            <br><br>
                            ⦾ Soft Skills Development
                            <br><br>
                            ⦾ Industry Insights and Trends
                            <br><br>
                            ⦾ Personal Branding
                            <br><br>
                            ⦾ Job Search Strategies
                            <br><br>
                            ⦾ Post-Placement Support
                          </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="hr"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->


    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="about2">
        <div class="container">
            <div class="row">
                <div class="left-text col-lg-5 col-md-12 col-sm-12 mobile-bottom-fix">
                    <div class="left-heading">
                        <h5>"Empowering Solutions Tailored Just for You!"</h5>
                    </div>
                    <p>Unlock your potential with our tailored services, designed to meet your unique needs. From innovative solutions to personalized support, we're here to help you thrive. Explore our offerings and embark on a journey of success with us.</p>
                    <ul>
                        <li>
                            <img src="assets/images/about-icon-01.png" alt="">
                            <div class="text">
                                <h6>Profile Analyser</h6>
                                <p>Get insights into your profile strengths and areas for improvement with our Profile Analyser. Analyze your resume and LinkedIn profile to optimize your job search strategy</p>
                            </div>
                        </li>
                        <li>
                            <img src="assets/images/about-icon-02.png" alt="">
                            <div class="text">
                                <h6>Hiring portal</h6>
                                <p>Create and manage your professional profile to stand out to employers. Showcase your skills, experience, and achievements to attract potential employers.</p>
                            </div>
                        </li>
                        <li>
                            <img src="assets/images/about-icon-03.png" alt="">
                            <div class="text">
                                <h6>Placement Classes</h6>
                                <p>Boost your skills and prepare for interviews with our specialized Placement Classes. Our experienced instructors provide comprehensive training, covering both technical and soft skills.</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="right-image col-lg-7 col-md-12 col-sm-12 mobile-bottom-fix-big" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                    <img src="assets/images/right-image.png" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->


    <!-- ***** Features Small Start ***** -->
    <section class="section" id="services">
        <div class="container">
            <div class="row">
                <div class="owl-carousel owl-theme">
                    <div class="item service-item">
                        <div class="icon">
                            <i><img src="assets/images/service-icon-01.png" alt=""></i>
                        </div>
                        <h5 class="service-title">Introduction to Placement Process</h5>
                        <p>Overview of the placement process in colleges or universities.
                            <br>
                         Importance of placement classes in preparing for job interviews.</p>
                        <a href="#" class="main-button">Read More</a>
                    </div>
                    <div class="item service-item">
                        <div class="icon">
                            <i><img src="assets/images/service-icon-02.png" alt=""></i>
                        </div>
                        <h5 class="service-title">Resume Building</h5>
                        <p>Crafting an effective resume.
                            <br>
                            Highlighting key skills, experiences, and achievements.
                            <br>
                            Structuring the resume for maximum impact.</p>
                            <br>
                        <a href="#" class="main-button">Discover More</a>
                    </div>
                    <div class="item service-item">
                        <div class="icon">
                            <i><img src="assets/images/service-icon-03.png" alt=""></i>
                        </div>
                        <h5 class="service-title">Networking Skills</h5>
                        <p>Importance of networking in finding job opportunities.
                            <br>
                            Strategies for effective networking, both online and offline.
                            <br><br>
                            </p>
                        <a href="#" class="main-button">More Detail</a>
                    </div>
                    <div class="item service-item">
                        <div class="icon">
                            <i><img src="assets/images/service-icon-02.png" alt=""></i>
                        </div>
                        <h5 class="service-title">Interview Preparation </h5>
                        <p>Types of interviews (e.g., behavioral, technical) and what to expect.
                            <br>
                            Common interview questions and how to answer them effectively.
                            <br><br>
                        <a href="#" class="main-button">Discover</a>
                    </div>
                    <div class="item service-item">
                        <div class="icon">
                            <i><img src="assets/images/service-icon-01.png" alt=""></i>
                        </div>
                        <h5 class="service-title">Mock Interviews</h5>
                        <p>Conducting mock interviews to simulate real-world scenarios.
                            <br>
                            Providing constructive feedback on interview performance.
                        <br><br></p>
                        <a href="#" class="main-button">Discover</a>
                    </div>
                    <div class="item service-item">
                        <div class="icon">
                            <i><img src="assets/images/service-icon-03.png" alt=""></i>
                        </div>
                        <h5 class="service-title">Soft Skills Development</h5>
                        <p>Importance of soft skills (e.g., communication, teamwork, problem-solving) in the workplace.
                            <br>
                            Strategies for developing and showcasing soft skills during interviews and in professional settings.
                        <br></p>
                        <a href="#" class="main-button">Detail</a>
                    </div>
                    <div class="item service-item">
                        <div class="icon">
                            <i><img src="assets/images/service-icon-01.png" alt=""></i>
                        </div>
                        <h5 class="service-title">Industry Insights and Trends</h5>
                        <p>Researching industries and companies of interest.
                            <br>
                            Staying updated on industry trends, market dynamics, and emerging technologies.
                        <br><br></p>
                        <a href="#" class="main-button">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Small End ***** -->


    <!-- ***** Frequently Question Start ***** -->
    <section class="section" id="frequently-question">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Frequently Asked Questions</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="section-heading">
                        <p>We provide a wide range of services tailored to meet your needs. Explore our website to learn more about how we can assist you.</p>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <div class="row">
                <div class="left-text col-lg-6 col-md-6 col-sm-12">
                    <h5>Jobsdoor360 is here to help you with every step you take.</h5>
                    <div class="accordion-text">
                        <p>Welcome to our world of possibilities, where we offer a comprehensive array of services designed to elevate your experience and meet your every need. From innovative solutions to personalized support, we're committed to delivering excellence at every turn.</p>
                        <p> Explore our range of offerings and discover how we can help you thrive in today's dynamic landscape. Let's embark on this journey together, shaping success one service at a time."</p>





                        <a href="https://jobsdoor360.in/" class="main-button">Contact Us</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="accordions is-first-expanded">
                        <article class="accordion">
                            <div class="accordion-head">
                                <span>How long is the workshop?</span>
                                <span class="icon">
                                    <i class="icon fa fa-chevron-right"></i>
                                </span>
                            </div>
                            <div class="accordion-body">
                                <div class="content">
                                    <p>Workshop itself will be of 1 hour only but the lenght of question answer session completely depends on the participation and engagement of the attendees. 
                                    <br><br>
                                    If they're actively involved and asking insightful questions, the Q&A session could easily extend beyond the scheduled hour.</p>
                                </div>
                            </div>
                        </article>
                        <article class="accordion">
                            <div class="accordion-head">
                                <span>Is there a fee to attend the workshop?</span>
                                <span class="icon">
                                    <i class="icon fa fa-chevron-right"></i>
                                </span>
                            </div>
                            <div class="accordion-body">
                                <div class="content">
                                    <p>The content, quality of delivery, and the impact it has on attendees' knowledge, skills, and perspectives are far more significant measures of its worth. 
                                    <br><br>
                                    But to show your commitment to attend the price can be set by yourself</p>
                                </div>
                            </div>
                        </article>
                        <article class="accordion">
                            <div class="accordion-head">
                                <span>Who is the facilitator/lecturer of the workshop?</span>
                                <span class="icon">
                                    <i class="icon fa fa-chevron-right"></i>
                                </span>
                            </div>
                            <div class="accordion-body">
                                <div class="content">
                                    <p>Vinay Kumar
                                        with ranks and qualification , state level rank 602, PET rank 126, Btech + Mtech from ABV- IIITM Gwalior.
                                        
                                    <br><br>
                                    Currently working in paytm. Expert in his field with 10 year experience in IT companies</p>
                                </div>
                            </div>
                        </article>
                        <article class="accordion">
                            <div class="accordion-head">
                                <span>Are their additional benefits </span>
                                <span class="icon">
                                    <i class="icon fa fa-chevron-right"></i>
                                </span>
                            </div>
                            <div class="accordion-body">
                                <div class="content">
                                    <p>These benefits could include networking opportunities, access to resources or materials, certification or accreditation, continued support or follow-up sessions, and opportunities for further learning or development.
                                    <br><br>
                                    We also provide additional discount to our attendees for services we provide.</p>
                                </div>
                            </div>
                        </article>
                        <article class="accordion">
                            <div class="accordion-head">
                                <span>Is there any preparation required before attending?</span>
                                <span class="icon">
                                    <i class="icon fa fa-chevron-right"></i>
                                </span>
                            </div>
                            <div class="accordion-body">
                                <div class="content">
                                    <p> participants may be asked to bring certain materials or tools, such as a notebook and pen, a laptop or tablet for digital activities.
                                    <br><br>
                                    Try to clear your schedule before and after the workshop to minimize distractions and fully immerse yourself in the learning experience. </p>
                                </div>
                            </div>
                        </article>
                        <article class="accordion">
                            <div class="accordion-head">
                                <span>How do I register for the workshop?</span>
                                <span class="icon">
                                    <i class="icon fa fa-chevron-right"></i>
                                </span>
                            </div>
                            <div class="accordion-body">
                                <div class="content">
                                    <p> - Visit the Registration Page and click on register now
                                        <br>
                                        - Submit Payment
                                        <br>
                                        - After Confirmation you will be added to a group within 12 hr.
                                        <br>
                                        - Mark Your Calendar
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Frequently Question End ***** -->


    <!-- ***** Contact Us Start ***** -->
    <section class="section" id="contact-us">
        <div class="container-fluid">
            <div class="row">
                <!-- ***** Contact Map Start ***** -->
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div id="map">
                      <!-- How to change your own map point
                           1. Go to Google Maps
                           2. Click on your location point
                           3. Click "Share" and choose "Embed map" tab
                           4. Copy only URL and paste it within the src="" field below
                    -->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d223.7406856150141!2d78.20142070161698!3d26.201525812755406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3976c5d495b2c42b%3A0x694aa4f221b2716b!2sJobsdoor360%20-%20job%20oriented%20learning%20and%20internship!5e0!3m2!1sen!2sin!4v1716130390149!5m2!1sen!2sin" width="100%" height="500px" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <!-- ***** Contact Map End ***** -->

                <!-- ***** Contact Form Start ***** -->
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="contact-form">
                        <form id="contact" action="" method="post">
                          <div class="row">
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="name" type="text" id="name" placeholder="Full Name" required="" class="contact-field">
                              </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="email" type="text" id="email" placeholder="E-mail" required="" class="contact-field">
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <textarea name="message" rows="6" id="message" placeholder="Your Message" required="" class="contact-field"></textarea>
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <button type="submit" id="form-submit" class="main-button">Send It</button>
                              </fieldset>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
                <!-- ***** Contact Form End ***** -->
            </div>
        </div>
    </section>
    <!-- ***** Contact Us End ***** -->

    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12">
                    <p class="copyright">Copyright &copy; Jobsdoor360 Company
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12">
                    <ul class="social">
                        <li><a href="https://www.facebook.com/jobsdoor360"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/jobsdoor360"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/jobsdoor360"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://chat.whatsapp.com/Ikuag24wNt6B4I345mJGlG"><i class="fa fa-whatsapp"></i></a></li>
                        <li><a href="https://youtube.com/@jobsdoor360?si=VLiK0Jw_tejxSr75"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- jQuery -->
    <script src="assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/scrollreveal.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/imgfix.min.js"></script> 
    
    <!-- Global Init -->
    <script src="assets/js/custom.js"></script>

  </body>
</html>