<!DOCTYPE html>
<html>
  <head>
    <title>Join Our Job-Oriented Software Learning Demo Class</title>
    <meta
      name="description"
      content="Experience the Power of Jobsdoor360's Job-Oriented Software Learning Demo Class! Join our Saturday session from 10:00 AM to 11:00 AM and discover exciting opportunities in web development, MERN-stack development, and backend development. Don't miss this chance to kickstart your tech career. Join Now!"
    />
    <link rel="stylesheet" href="../../../css/demo.css" />
    <link rel="stylesheet" href="../../../css/style.css" />
    <%- include('../../../../partials/head.ejs'); %>
  </head>
  <body>
    <%- include('../../../../partials/navbar.ejs'); %>
    <!-- Demo -->
    <section>
      <div class="demo">
        <h3 style="color: rgb(120, 110, 110)">
          Your details have been saved. You will receive an interview call from
          jobsdoor360 for the first round
        </h3>
        <p id="timer">5</p>
        <button id="joinBtn">Jobs For You</button>
      </div>
    </section>
    <script src="demo.js"></script>
    <script type="module" src="script.js"></script>
    <%- include('../../../../partials/footer.ejs') %>
  </body>
</html>
