<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="/staticfiles/mainfiles/signup/style.css" />
    <%- include('../../partials/head.ejs') %>
  </head>

  <body>
    <%- include('../../partials/navbar.ejs') %>
    <div class="main_container_signup">
      <div class="signup-container">
        <a
          class="logo"
          style="
            background-color: #e8f0fe;
            border-radius: 10px;
            text-align: center;
          "
          href="../index.html"
        >
          <img
            style="width: 50%; padding: 10px"
            src="/assets/Jobsdoor360 -logos__black.png"
            alt="logo"
          />
        </a>
        <h2 class="signup-head">Sign Up</h2>
        <form id="signup-form">
          <label for="username">Full Name:</label>
          <input type="text" id="username" name="username" required />

          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required />

          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required />

          <button type="submit">Sign Up</button>
        </form>

        <div class="lines-text">
          <span>OR</span>
        </div>

        <p class="bottom-heading">
          Already have an account?
          <span>
            <a href="/login/">log In</a>
          </span>
        </p>
      </div>
    </div>
    <%- include('../../partials/footer.ejs') %>

    <script type="module" src="/staticfiles/mainfiles/signup/script.js"></script>
  </body>
</html>
