body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.custom-width {
    width: 200px;
    word-wrap: break-word; 
  
}

th,
td {
  padding: 12px;
  /* text-align: left; */
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  color: #333;
  text-transform: uppercase;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f2f2f2;
}
/* Add styles for the Apply button */
.applyButton {
  background-color: #2966b5;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: solid;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.applyButton:hover {
  background-color: #45a049;
}

.parent {
  display: flex;
  justify-content: center;
}

.child {
  display: flex;
  flex-direction: column;
}
