<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CV Upload</title>
    <link rel="stylesheet" href="/staticfiles/mainfiles/apply/cv_upload/style.css" />
    <%- include('../../../partials/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" />
     
  </head>
  <body>
    <%- include('../../../partials/navbar.ejs') %>
    <div class="d-flex justify-content-center align-items-center flex-column gap-0.5" style="margin-block: 100px">
      <div>UPLOAD YOUR RESUME</div>
      <form action="" class="d-flex flex-column justify-content-center gap-2" id="resumeForm">
        <div class="d-flex justify-content-center flex-column">
          <input id="cv" type="file" class="form-control cv" accept=".pdf, .doc, .docx" required />
          <span class="form-text"></span>
        </div>
        <div class="form-group">
          <label for="skills">Enter your Skills:</label>
          <input id="skills" name="skills" type="text" class="form-control" placeholder="Enter your skills" list="skill-list">
          <!-- <datalist id="skill-list">
            <option value="HTML">
            <option value="CSS">
            <option value="JavaScript">
            <option value="Node.js">
            <option value="Python">
            <option value="Java">
            <option value="C++">
            <option value="Ruby">
          </datalist> -->
          <small class="form-text text-muted"></small>
        </div>
        <div class="center-button-container">
          <button type="button" id="btn" class="print-btn btn btn-primary">SUBMIT</button>
          <!-- <span id="loading" class="loading">Loading...</span> -->
        </div>
        <div class="px-1 mt-2 d-flex justify-content-center align-items-center gap-2">
          <a href="/apply/thanks/" class="text-decoration-none d-flex justify-content-end align-items-center gap-2">
            <span>Skip</span>
            <i class="fa-solid fa-arrow-right mt-1"></i>
          </a>
        </div>
      </form>
    </div>
    <%- include('../../../partials/footer.ejs') %>
    <script type="module" src="/staticfiles/mainfiles/apply/cv_upload/script.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <!-- Include jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Include Firebase -->
    <script src="https://www.gstatic.com/firebasejs/9.6.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.6.1/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.6.1/firebase-firestore.js"></script>
    <script>
      // JavaScript code goes here
    </script>
  </body>
</html>
