<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Privacy Policy</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/privacy.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/f6b356be29.js"
      crossorigin="anonymous"
    ></script>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-1JQVXS3B5L"
    ></script>
    <meta name="google-adsense-account" content="ca-pub-2075086355753452" />
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2075086355753452"
      crossorigin="anonymous"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-1JQVXS3B5L");
    </script>
    <link rel="icon" href="./../fevicon.ico" type="profile" />
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-MFBK5637");
    </script>
    <!-- End Google Tag Manager -->
    <%- include('../../partials/head.ejs') %>
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-MFBK5637"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Navbar -->

    <%- include('../../partials/navbar.ejs') %>

    <!-- Privacy Policy Section -->

    <section class="privacy">
      <h1>Privacy Policy</h1>

      <p>
        Your privacy is important to us. It is Jobsdoor360's policy to respect
        your privacy regarding any information we may collect from you across
        our website, jobsdoor360.in, and other sites we own and operate.
      </p>

      <h2>Information We Collect</h2>
      <p>
        We only collect information you provide voluntarily. This may include
        personal information such as your name, email address, and other contact
        details. We may also collect non-personal information like browser type,
        IP address, and referring site for analytics purposes.
      </p>

      <h2>How We Use Your Information</h2>
      <p>We may use the information you provide to:</p>
      <ul>
        <li>Respond to your inquiries or provide services you request.</li>
        <li>Send newsletters and updates if you subscribe to them.</li>
        <li>Improve our website and user experience.</li>
        <li>Analyze user behavior to enhance our content and offerings.</li>
      </ul>

      <h2>Information Sharing</h2>
      <p>
        We do not share your personal information with third parties except when
        required by law or to provide requested services. We may use third-party
        services (e.g., analytics tools) that collect and process data on our
        behalf, following their own privacy policies.
      </p>

      <h2>Cookies and Tracking</h2>
      <p>
        We and our partners use cookies and similar technologies to enhance your
        experience, analyze usage, and deliver personalized ads. You consent to
        our use of such technologies by continuing to use our site.
      </p>

      <h2>Advertising and Personalization</h2>
      <p>
        We use third-party advertising companies like Google AdSense to display
        ads when you visit our website. These companies may collect information
        about your visits to this and other websites to provide personalized
        advertisements. For more information or to opt-out of personalized
        advertising, visit the
        <a href="https://www.google.com/policies/technologies/ads/"
          >Google Ad Settings</a
        >
        page.
      </p>

      <h2>Your Rights</h2>
      <p>
        You have the right to access, correct, and delete your personal
        information. You can also unsubscribe from our communications at any
        time. To exercise these rights, please contact us using the information
        provided below.
      </p>

      <h2>Data Security</h2>
      <p>
        We take reasonable measures to protect your personal information from
        unauthorized access, loss, misuse, disclosure, alteration, or
        destruction. However, please note that no method of transmission over
        the internet or electronic storage is completely secure.
      </p>

      <h2>Changes to this Privacy Policy</h2>
      <p>
        We may update this privacy policy from time to time. The latest version
        will be posted on this page.
      </p>

      <h2>Contact Us</h2>
      <p>
        If you have any questions about this privacy policy or our practices,
        please
        <a href="mailto:qualitywise7@gmail.com">contact us</a>.
      </p>
    </section>

    <!-- footer -->

    <%- include('../../partials/footer.ejs') %>
  </body>
</html>
