<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Summaries</title>
   <link rel="stylesheet" href="/staticfiles/mainfiles/careeroptions/career-guide-by-big-people/style.css">
   <%- include('../../../partials/head.ejs') %>
</head>
<body>
    <%- include('../../../partials/navbar.ejs') %>
    <div id="summaries"></div>
    <%- include('../../../partials/footer.ejs') %>
<script src="/staticfiles/mainfiles/careeroptions/career-guide-by-big-people/script.js"></script>
</body>
</html>