<!DOCTYPE html>
<html>
  <head>
    <title>Registration Redirect</title>
    <script>
      window.location.href = "/apply/";
    </script>
    <link rel="stylesheet" href="/staticfiles/mainfiles/register/style.css">
    <style>
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }

      h3 {
        text-align: center;
      }
    </style>
  </head>

  <body>
    <!-- End Google Tag Manager (noscript) -->
    <h3 style="font-family: sans-serif">Redirecting to Registration Form...</h3>
  </body>
</html>
