<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Software Development Training - Web development, FullStack, Backend, Java,
      Reactjs
    </title>
    <meta
      name="description"
      content="Unlock Your Career Potential with JobsDoor360: Expert Development Programs & Job Opportunities. Learn Full Stack, Java, and Web Development. Advance Your Career with Industry Professionals. Gain In-Demand Skills for Software Jobs. Practice Interviews and Perfect Your CV. Join Now for a Spring Demo!"
    />
    <link rel="stylesheet" href="/staticfiles/mainfiles/myaccount/yourprofile/forward_page/style.css">
    <%- include('../../../../partials/head.ejs') %>
  </head>

  <body>
    <%- include('../../../../partials/navbar.ejs') %>
    <section class="articles">
      <article>
        <div class="article-wrapper">
          <div class="article-body">
            <p>
              Your details have been saved. You will receive an interview call
              from jobsdoor360 for the first round
            </p>
            <a href="../../jobsforyou/">Click here to see jobs for you</a>
          </div>
        </div>
      </article>
    </section>
    <script>
      $(document).ready(function () {
        $(document).on("click", function (event) {
          if (!$(event.target).closest(".accordion").length) {
            $(".accordion-collapse").collapse("hide");
          }
        });

        $(".accordion").on("click", function (event) {
          event.stopPropagation();
        });
      });
    </script>
    <script>
      window.addEventListener("scroll", () => {
        let scrollVal = window.scrollY;
        if (scrollVal > 2000) {
          document.getElementById("backToTopBtn").style.display = "block";
        } else {
          document.getElementById("backToTopBtn").style.display = "none";
        }
      });

      function scrollToTop() {
        document.documentElement.scrollTop = 0;
      }

      document
        .getElementById("backToTopBtn")
        .addEventListener("click", scrollToTop);
    </script>
    <script type="module" src="/staticfiles/mainfiles/myaccount/yourprofile/forward_page/script.js"></script>
    <ins
      class="adsbygoogle"
      style="display: block"
      data-ad-client="ca-pub-2075086355753452"
      data-ad-slot="7339269701"
      data-ad-format="auto"
      data-full-width-responsive="true"
    ></ins>
    <%- include('../../../../partials/footer.ejs') %>
  </body>
</html>
