<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Users Data</title>
  <%- include('../../../../partials/head.ejs') %>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 20px;
    }
    h2 {
      color: #333;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }
    th, td {
      border: 1px solid #ccc;
      padding: 10px;
      text-align: left;
    }
    th {
      background-color: #f4f4f4;
    }
    img {
      border-radius: 50%;
    }
    .error {
      color: red;
      font-weight: bold;
    }
  </style>
  
</head>

<body>
  <%- include('../../../../partials/navbar.ejs') %>
  <div id="userDetails">
    <!-- All user data will be displayed here -->
  </div>
  <%- include('../../../../partials/footer.ejs') %>
  <script type="module" src="/staticfiles/mainfiles/jdmasterpanel/users-record/remarks/script.js"></script>
</body>
</html>
