<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Job Details" />
    <title>Job Details</title>
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="css/jobdetails.css" />
    <!-- Include Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2075086355753452"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/f6b356be29.js" crossorigin="anonymous"></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-1JQVXS3B5L"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "G-1JQVXS3B5L");
    </script>
<link rel="icon" href="./../fevicon.ico" type="profile" />
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-MFBK5637');</script>
        <!-- End Google Tag Manager -->
    </head>
    <%- include('../../../partials/head.ejs') %>
    
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MFBK5637"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

    <!-- job detail section -->
    <div class="container vh-auto p-3 d-flex justify-content-center align-items-center">
        <div class="card">
            <div class="card-body px-md-5 py-md-4">
                <h1 id="postName" class="card-title"></h1>

                <p id="industry" class="card-text mb-4"></p>

                <p id="jobType" class="card-text mb-4"></p>

                <p id="profile" class="card-text mb-4"></p>

                <p id="briefDetail" class="card-text mb-4"></p>

                <p id="date" class="card-text mb-4"></p>

                <p id="ageLimit" class="card-text mb-4"></p>

                <p id="recruitmentBoard" class="card-text mb-4"></p>

                <p id="eligibility" class="card-text mb-4"></p>

                <a id="moreDetailsLink" href="" target="_blank" class="btn btn-primary">More Details</a>
            </div>
        </div>
    </div>

    <!-- Footer -->

    <%- include('../../../partials/footer.ejs') %>


    <!-- WhatsApp Chat Button -->
    <div class="chat-back-to-top">
        <button id="like-button">
            <i class="fa-solid fa-thumbs-up"></i>
        </button>
        <button id="dislike-button">
            <i class="fa-solid fa-thumbs-down"></i>
        </button>
        <div class="whatsapp-chat">
            <a href="https://api.whatsapp.com/send?phone=918319349660&text=I want to know more!" target="_blank">
                <i class="fab fa-whatsapp"></i>
            </a>
        </div>
        <button id="backToTopBtn" class="back-to-top-btn" onclick="scrollToTop()">
            <i class="fa-solid fa-chevron-up"></i>
        </button>
    </div>

    <!-- The Bootstrap Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        What Can We Improve on Our Website?
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <textarea id="feedback" class="form-control" placeholder="Your feedback..."></textarea>
                    <input type="text" id="phoneNumber" class="form-control" placeholder="Your phone number..." />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button id="submitFeedback" class="btn btn-primary">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="../../website_data/jobs_data.js"></script>
    <script type="module" src="js/jobdetails.js"></script>
    <script type="module" src="../../js/script.js"></script>
</body>

</html>