<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Thanks</title>
    <%- include('../../../partials/head.ejs') %>
  </head>

  <body>
    <%- include('../../../partials/navbar.ejs') %>
    <div class="d-flex justify-content-center flex-column align-items-center py-5 my-5">
        <i class="fa fa-check-circle mb-2" style="color: green; font-size: 70px;"></i>
        <h1>Thanks for applying</h1>
        <h4>You will receive a call from Jobsdoor360</h4>
        <a href="/login" class="btn btn-primary mt-4">Login to explore more</a>
    </div>
    <%- include('../../../partials/footer.ejs') %>
  </body>
</html>
