.pricing {
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
}

.price-head {
    background-color: #2c3034;
    color: white;
    width: fit-content;
    align-self: center;
    padding: 0.4rem 1rem;
    border-radius: 6px;
    font-family: ui-sans-serif;
}

h2 {
    margin: 2rem 0 1rem 0;
}

.table a {
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    .pricing {
        padding: 2rem;
    }

    .price-head {
        font-size: 1.5rem;
        padding: 0.2rem 0.5rem;
    }
}
