body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#jobTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#jobTable th,
#jobTable td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

#jobTable th {
  background-color: #f2f2f2;
}

#jobTable tbody tr:nth-child(even) {
  background-color: #ffffff;
}
