/* body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  text-align: center;
}
/* .container {
  width: 80%;
  margin: 20px auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */
/* h1,
h2,
h3 {
  color: #333;
  text-align: center;
}
h1 {
  margin-bottom: 20px;
}
h2 {
  margin-top: 30px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
}
ul {
  list-style-type: none;
  padding: 0;
}
ul li {
  margin: 10px 0;
  padding: 10px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}
strong {
  color: #555;
} */

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  text-align: center;
}
.container {
  width: 80%;
  margin: 20px auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1,
h2,
h3 {
  color: #333;
  text-align: center;
}
h1 {
  margin-bottom: 20px;
}
h2 {
  margin-top: 30px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
}
ul {
  list-style-type: none;
  padding: 0;
}
ul li {
  margin: 10px 0;
}
strong {
  color: #555;
}
