<!DOCTYPE html>
<html lang="en">
<head>
  <title>Assessment Report</title>
  <link rel="stylesheet" href="/staticfiles/mainfiles/myaccount/test-report/style.css">
  <%- include('../../../partials/head.ejs') %>
</head>
<body>
  <%- include('../../../partials/navbar.ejs') %>
  <div class="container">
    <h1>Assessment Report</h1>
    <div class="results-grid" id="assessment-report">
      <!-- Report will be injected here by JavaScript -->
    </div>
    <div id="no-results-message" class="no-results-message" style="display: none;">
      <p>You have not attempted any assessment.</p>
      <a class="btn-start" href="/test/">Start An Assessment</a>
    </div> 
  </div>
  <%- include('../../../partials/footer.ejs') %>
  <script type="module" src="/staticfiles/mainfiles/myaccount/test-report/script.js"></script>
</body>
</html>
