<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="style.css" />
    <style>
      .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      .card {
        flex: 0 1 calc(50% - 20px); /* Two cards side by side on large screens */
        margin-bottom: 20px;
      }

      @media (max-width: 768px) {
        .card {
          flex: 0 1 calc(100% - 20px); /* One card per row on small screens */
        }
      }
    </style>
  </head>
  <%- include('../../partials/head.ejs') %>
  <body>
    <div class="container">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Rating</th>
            <th>Description</th>
            <th>Education Details</th>
            <th>Other Details</th>
          </tr>
        </thead>
        <tbody id="userProfilesTableBody">
          <!-- User profile data will be populated here -->
        </tbody>
      </table>
    </div>
    <script type="module" src="script.js"></script>
  </body> 
  <%- include('../../partials/footer.ejs') %>
</html>
