<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Government Departments and Branches</title>
 <link rel="stylesheet" href="/staticfiles/mainfiles/careeroptions/government-department-which-provide-jobs/style.css">k
</head>
<body>
    <!-- <a href="#" id="government-department-which-provide-jobs">Government Department</a> -->
  <div id="department-list"></div>
  <script src="/staticfiles/mainfiles/careeroptions/government-department-which-provide-jobs/script.js"></script>
</body>
</html>
