<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Government Departments and Branches</title>
 <link rel="stylesheet" href="/staticfiles/mainfiles/careeroptions/government-department-which-provide-jobs/style.css">
 <%- include('../../../partials/head.ejs') %>
</head>
<body>
  <%- include('../../../partials/navbar.ejs') %>
    <!-- <a href="#" id="government-department-which-provide-jobs">Government Department</a> -->
     <h1>Government Department</h1>
  <div id="department-list"></div>
  <%- include('../../../partials/footer.ejs') %>
  <script src="/staticfiles/mainfiles/careeroptions/government-department-which-provide-jobs/script.js"></script>
</body>
</html>
