.container {
    margin-top: 50px;
}

section {
    display: flex;
    flex-direction: column;
}

.menu-btn {
    margin: 1rem 0 0 1rem;
    width: fit-content;
}

.job-head {
    display: flex;
    justify-content: center;
}

.jobs-header {
    font-size: 24px;
    color: white;
    background: #8978e5;
    font-family: math;
    padding: 0.5rem;
    margin-bottom: 20px;
    width: fit-content;
    text-align: center;
}

.filter-form {
    width: 50%;
}

.loading {
    display: block;
    font-size: 2rem;
    font-family: "Ysabeau SC";
    text-align: center;
    margin: 10rem;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-title {
    font-size: 18px;
    margin: 0;
}

.card-text {
    font-size: 14px;
    color: #666;
}

@media only screen and (max-width: 600px) {
    .loading {
        display: block;
        font-size: 1rem;
        font-family: "Ysabeau SC";
        text-align: center;
        margin: 8rem;
    }
}
