/* Body styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
}

/* Header styles */
.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  height: 200px;
  background: linear-gradient(to right, #5c5c5c, #383838);
  color: #fff;
}

.head h1 {
  font-size: 36px;
}

.head p {
  font-size: 18px;
}

/* Container styles */
.data {
  text-align: center;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 80%;
}

/* Card styles */
.detail {
  width: calc(33.33% - 20px); /* Three cards in a row with 20px gap between */
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.detail:hover {
  transform: translateY(-5px);
}

/* Image styles */
.img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 20px; /* Added margin to bottom for spacing */
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%; /* Ensure the image is fully rounded */
}

/* Classification styles */
.classification {
  background-color: #8354c1;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  height: 180px;
  display: flex;
  flex-direction: column;
}

/* Media Query for small screens */
@media (max-width: 767px) {
  .detail {
    width: calc(100% - 20px); /* One card per row with 20px gap */
  }
}
