<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Software Development Training - Web development, FullStack, Backend, Java,
      Reactjs
    </title>
    <meta
      name="description"
      content="Unlock Your Career Potential with JobsDoor360: Expert Development Programs & Job Opportunities. Learn Full Stack, Java, and Web Development. Advance Your Career with Industry Professionals. Gain In-Demand Skills for Software Jobs. Practice Interviews and Perfect Your CV. Join Now for a Spring Demo!"
    />
    <%- include('../../partials/head.ejs') %>
  </head>

  <body>
    <%- include('../../partials/navbar.ejs') %>
    <section class="articles">
      <article>
        <div class="article-wrapper">
          <div class="article-body">
            <h2>About Us</h2>
            <br /><br />
            <p
              style="text-align: left; font-size: 20px; font-weight: 500"
              class="article-content"
            >
              ⦾ Faculties are from iiitm college
              <br /><br />
              ⦾ 10+ experienced faculty
              <br /><br />
              ⦾ 2024 industry level training and projects
              <br /><br />
              ⦾ Sole purpose to prepare students for jobs or placement
              <br /><br />
              ⦾ Success rate 75% till 2024
            </p>
            <br />
            <br />
            <p style="text-align: center">
              Join us and contribute to building innovative solutions that
              empower our users and drive business success!
            </p>
          </div>
        </div>
      </article>
      <article>
        <div class="article-wrapper">
          <div class="article-body">
            <h2>Our Vision</h2>
            <br /><br />
            <p
              style="text-align: left; font-size: 20px; font-weight: 500"
              class="article-content"
            >
              ⦾ To show them what course they should select for a better future
              <br /><br />
              ⦾ To prepare students for placement/job
              <br /><br />
              ⦾ To develop the mind of the student
            </p>
          </div>
        </div>
      </article>
    </section>

    <!-- Footer -->
    <%- include('../../partials/footer.ejs') %>
  </body>
</html>
