/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
.header {
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
  border: none;
  background-color: #e2e8f0;
}
.content {
  font-size: 1.1rem;
}
.program-card {
  margin: 20px;
}
.card-text {
  text-align: center;
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  font-style: italic;
  font-family: serif;
}

.hero .imgs {
  padding: 1.3rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.hero span{
  font-size: 1rem;
  width: auto;
  padding: 5px 20px;
  margin-bottom: 10px;
}


.hero img {
  justify-content: center;
  width: 70%;
}

.list ul li {
  font-size: 17px;
}
/* .language{
      position: relative;
      width: 160px !important;
      margin-left: 8px;
      padding: 8px;
  
  } */

.banner {
  font-family: "Courier New", Courier, monospace;
  font-weight: 200;
  font-size: 30px;
  padding: 10px;
}
.banner1 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 200;
  font-size: 18px;
  display: none;
  padding: 10px;
}

.footer{
  font-family: "Ysabeau SC", sans-serif;
  font-weight: 1000;
}
.footer li a{
  text-decoration: none;
  color: rgb(235, 229, 229);
  font-size: 14px;
}
.footer li a:hover{
  text-decoration: underline;
  color: rgb(209, 228, 244);
}
.reg {
  
  display: none;
  background-color: #dcdfe1;
  padding-top: 3px;
  padding-bottom: 3px;
  line-height: 17px;
  font-size: 13px;
  word-spacing:3px;
}
.reg1{
  display: block;
  background-color: #dcdfe1;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 200;
  font-size: 25px;
}


@media (max-width: 768px) {
  .banner {
    display: none;
  }
  .banner1 {
    display: block;
  }
}

.img {
  display: block;
  width: 100%;
}
.img1 {
  display: none;
  width: 100%;
  display: none;
}
@media (max-width: 768px) {
  .img {
    display: none;
  }
  .img1 {
    display: block;
  }
}

@media (max-width: 768px) {
  .reg {
    display: block;
  }
  .reg1 {
    display: none;
  }
}

.search-container {
  display: flex;
  justify-content: center;
}

.searchbox {
  display: flex;
  margin: 0 10px;
  background-color: white;
  padding: 10px;
  /* height: 8vh; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 400px;
  border-radius: 25px;
  max-width: 443px;
}
.search-input {
          width: 100%;
          padding: 5px; /* Adjusted padding */
          border: none;
          border-radius: 25px 0 0 25px;
          font-size: 18px; /* Adjusted font size */
          outline: none;
      }


.search-button {
  padding: 10px 20px;
  background-color: rgb(99, 99, 221);
  color: white;
  border: none;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none; /* Remove underline */
  color: white; 
}

.search-button i {
  margin-left: 5px;
}


#search-results {
  margin-top: 20px;
  text-align: center;
}