<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Job Options</title>
    <meta
      name="description"
      content="jobs options"
    />
    <link rel="stylesheet" href="/staticfiles/mainfiles/careeroptions/business-options/style.css">
    <%- include('../../../partials/head.ejs') %>
  </head>

  <body>
    <%- include('../../../partials/navbar.ejs') %>
    <div id="data-container"></div>
    <%- include('../../../partials/footer.ejs') %>
    <script src="/staticfiles/mainfiles/careeroptions/business-options/script.js"></script>
  </body>
</html>
