<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Job Options</title>
    <meta name="description" content="jobs options" />
    <link
      rel="stylesheet"
      href="/staticfiles/mainfiles/careeroptions/business-options/style.css"
    />
    <%- include('../../../partials/head.ejs') %>
  </head>

  <body>
    <%- include('../../../partials/navbar.ejs') %>
    <h1>Business Options</h1>
    <div id="data-container"></div>
    <%- include('../../../partials/footer.ejs') %>
    <script src="/staticfiles/mainfiles/careeroptions/business-options/script.js"></script>
  </body>
</html>
