<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Business Plans, Revenue Strategies, and Success Stories</title>
    <meta
      name="description"
      content="Explore essential information on how to make a business plan, revenue and marketing spend for e-commerce, and inspiring success stories from entrepreneurs. Learn from real-world examples and take your business to new heights."
    />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="/staticfiles/mainfiles/membership/style.css" />
    <%- include('../../partials/head.ejs') %>
  </head>

  <body>
    <%- include('../../partials/navbar.ejs') %>

    <!-- main content -->
    <div class="container py-5">
      <div class="row text-center main">
        <!-- first -->
        <h2 class="font-weight-bold mb-5">
         Pricing
        </h2>
        <div class="d-flex justify-content-center gap-5 flex-wrap">
          <div class="d-flex flex-column align-items-start gap-2 shadow-lg px-5 pt-4 rounded-3">
            <div>
              <h5 class="h4">Placement Classes</h5>
            </div>
            <div class="d-flex align-items-center gap-2">
              <h2 class="font-extrabold">₹20000</h2>
              <span>  6 month</span>
            </div>
              <a
                href="/register/"
                class="text-decoration-none fw-bolder w-100 border-[#586ba6] border rounded-2 px-5 py-2"
              >
                Buy Now
              </a>
            <div>
            <div>
              <ul type="none" class="d-flex flex-column justify-content-start" style="margin-left: -40px;">
                <li class="d-flex align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="green" class="bi bi-check" viewBox="0 0 16 16">
                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                  </svg>
                  Online Assignment
                </li>
                <li class="d-flex align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="green" class="bi bi-check" viewBox="0 0 16 16">
                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                  </svg>
                  Job Oriented Courses
                </li>
                <li class="d-flex align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="green" class="bi bi-check" viewBox="0 0 16 16">
                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                  </svg>
                  Placement Courses
                </li>
                <li class="d-flex align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="green" class="bi bi-check" viewBox="0 0 16 16">
                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                  </svg>
                  Mock Interview's
                </li>
                <li class="d-flex align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="green" class="bi bi-check" viewBox="0 0 16 16">
                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                  </svg>
                  Profile Analyzer
                </li>
                <li class="d-flex align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="red" class="bi bi-x" viewBox="0 0 16 16">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                  </svg>
                  Custom CV creation
                </li>
                <li class="d-flex align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="red" class="bi bi-x" viewBox="0 0 16 16">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                  </svg>
                  Expert career Consulting
                </li>
                <li class="d-flex align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="red" class="bi bi-x" viewBox="0 0 16 16">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                  </svg>
                  Direct Shortlisting
                </li>
              </ul>
            </div>
          </div>
          </div>
          
          <div class="d-flex flex-column align-items-start gap-2 shadow-lg px-5 pt-4 rounded-3">
            <div>
              <h5 class="h4">Interview Classes</h5>
            </div>
            <div class="d-flex align-items-center gap-2">
              <h2 class="font-extrabold">₹5000</h2>
            <span> <span class="text-decoration-line-through">₹6000/- </span> <span style="margin: 0 5px">per annum</span></span>
            </div>
            <div class="d-flex align-items-center gap-2">
              <h2 class="font-extrabold">₹500</h2>
              <span>per month</span>
            </div>
              <a
                href="/register/"
                class="text-decoration-none fw-bolder w-100 border-[#586ba6] border rounded-2 px-5 py-2"
              >
                Buy Now
              </a>
            <div>
            <div>
              <ul type="none" class="d-flex flex-column justify-content-start" style="margin-left: -40px;">
                <li class="d-flex align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="green" class="bi bi-check" viewBox="0 0 16 16">
                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                  </svg>
                  Online Assignment
                </li>
                <li class="d-flex align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="green" class="bi bi-check" viewBox="0 0 16 16">
                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                  </svg>
                  Job Oriented Courses
                </li>
                <li class="d-flex align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="green" class="bi bi-check" viewBox="0 0 16 16">
                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                  </svg>
                  Placement Courses
                </li>
                <li class="d-flex align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="green" class="bi bi-check" viewBox="0 0 16 16">
                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                  </svg>
                  Mock Interview's
                </li>
                <li class="d-flex align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="green" class="bi bi-check" viewBox="0 0 16 16">
                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                  </svg>
                  Profile Analyzer
                </li>
                <li class="d-flex align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="green" class="bi bi-check" viewBox="0 0 16 16">
                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                  </svg>
                  Custom CV creation
                </li>
                <li class="d-flex align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="green" class="bi bi-check" viewBox="0 0 16 16">
                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                  </svg>
                  Expert career Consulting
                </li>
                <li class="d-flex align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="green" class="bi bi-check" viewBox="0 0 16 16">
                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                  </svg>
                  Direct Shortlisting
                </li>
              </ul>
            </div>
          </div>
          </div>
        </div>
      </div>
      <!-- course completation Benefit start -->

      <div class="main_container" id="benefits">
        <h2 class="mb-5">Course Completion Benefits</h2>
        <ul type="none" class="main_paragraph">
          <li>
            <strong> Skill Enhancement :</strong> Enroll in this course to
            enhance your skills and knowledge in your chosen field. You'll gain
            expertise that's in demand and stay competitive in the job market.
          </li>
          <li>
            <strong> Certification Swag :</strong> By successfully completing
            the course, you'll earn valuable certifications that serve as badges
            of accomplishment. Show off your expertise with pride and add these
            certifications to your professional profile.
          </li>
          <li>
            <strong> Career Advancement :</strong> The certifications you earn
            will open doors to new career opportunities and promotions.
            Employers recognize the value of certified professionals and are
            more likely to consider you for top roles.
          </li>
          <li>
            <strong> Personal Growth :</strong> Beyond career benefits, this
            course will contribute to your personal growth. You'll develop
            problem-solving abilities and gain confidence in tackling
            challenges.
          </li>
          <li>
            <strong> Networking Opportunities :</strong> Throughout the course,
            you'll connect with like-minded individuals and professionals in
            your field. These networks can lead to mentorship and valuable
            connections.
          </li>
        </ul>
      </div>
      <!-- course completation Benefit end -->

      <!-- Internship & jobs benifits start -->
      <div class="main_container">
        <h2 class="mb-5">Internship and jobs Benefits</h2>
        <ul type="none" class="main_paragraph">
          <li>
            <strong> Professional Experience :</strong> Join this internship
            program to gain valuable real-world experience in your chosen field.
            It's an opportunity to apply your classroom knowledge in practical
            settings.
          </li>
          <li>
            <strong> Certification Swag :</strong> Successful completion of the
            internship will earn you certifications that validate your skills
            and expertise. Showcase these certifications proudly as they'll
            enhance your professional profile.
          </li>
          <li>
            <strong> Stipend for Performance :</strong> This internship offers a
            stipend based on your performance. Your hard work and dedication can
            lead to financial rewards and recognition.
          </li>
          <li>
            <strong> Career Building : </strong> Beyond just being an intern,
            this program is a stepping stone to your future career. It provides
            insights, mentorship, and networking opportunities that can help you
            make informed career choices.
          </li>
          <li>
            <strong> Networking :</strong> Throughout the internship, you'll
            connect with industry professionals. These connections can be
            valuable for mentorship and future job opportunities.
          </li>
        </ul>
      </div>
      <h2 class="heading">Major Project</h2>
      <div class="courses">
        <div id="major-project" class="course">
          <h4 class="m-lg-4">Comprehensive Full Stack Project Development</h4>
          <ul type="none">
            <li>Crafting End-to-End Web Solutions</li>
            <li>Mastering Frontend and Backend Integration</li>
            <li>Seamless API Creation and Management</li>
            <li>User Authentication and Secure Access</li>
            <li>Responsive Design and UI/UX Enhancement</li>
          </ul>
        </div>
        <div class="d-flex justify-content-center">
          <h2 class="heading">Internship</h2>
        </div>
        <div id="internship" class="course">
          <h4 class="m-lg-4">Work related to jobsdoor360 projects</h4>
          <ul type="none">
            <li>Building pages for course exploration and career insights.</li>
            <li>
              Enhancing our job portal to provide a seamless experience for job
              seekers and employers, optimizing the job search process.
            </li>
            <li>
              Contributing to the creation and refinement of our company
              website, reflecting our values and offerings.
            </li>
            <li>
              Creating engaging biographies that showcase the achievements and
              stories of influential individuals.
            </li>
          </ul>
        </div>

        <!-- internship and major Project end  -->

        <div id="buy" class="buy-course">
          <h3 class="heading">Whatsapp us for any course related query!</h3>
          <a
            href="https://api.whatsapp.com/send?phone=918319349660&text=I want to know more!"
            target="_blank"
            >Whatsapp</a
          >
        </div>
      </div>
    </div>

    <!-- Footer -->

    <%- include('../../partials/footer.ejs') %>
  </body>
</html>
