<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="style.css" />
    <%- include('../../partials/head.ejs') %>
  </head>
  <body>
    <%- include('../../partials/navbar.ejs') %>
    <div>
      <div class="head">
        <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">
          Welcome to the Hall of Fame
        </h1>
        <p class="mt-6 text-lg leading-8 text-gray-600">
          Honoring the best of the best in their respective fields
        </p>
      </div>
      <div class="data">
        <!-- loading the data from the js file to duplicacy -->
      </div>
    </div>
    <script src="script.js"></script>
  </body>
  <%- include('../../partials/footer.ejs') %>
</html>
