<!DOCTYPE html>
<html>
  <head>
    <title>Join Our Job-Oriented Software Learning Demo Class</title>
    <meta
      name="description"
      content="Experience the Power of Jobsdoor360's Job-Oriented Software Learning Demo Class! Join our Saturday session from 10:00 AM to 11:00 AM and discover exciting opportunities in web development, MERN-stack development, and backend development. Don't miss this chance to kickstart your tech career. Join Now!"
    />
    <link rel="stylesheet" href="../css/demo.css" />
    <%- include('../../partials/head.ejs'); %>
  </head>
  <body>
    <%- include('../../partials/navbar.ejs'); %>
    <!-- Demo -->
    <section>
      <div class="demo">
        <h1>Jobsdoor360 - Job/Placement Oriented Class (Demo)</h1>
        <p>Every Saturday</p>
        <p>Timings: 08:30 AM to 10:00 AM</p>
        <p id="timer">15</p>
        <button id="joinBtn">Join Now</button>

        <p style="padding-top: 15px">
          Note: If you face any issue then try to join after 15 or 30 min again.
          Still issue, do whatsapp
        </p>
      </div>
    </section>
    <script src="demo.js"></script>
    <script type="module" src="../js/script.js"></script>
    <%- include('../../partials/footer.ejs'); %>
  </body>
</html>
