<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Job Listings</title>
    <link rel="stylesheet" href="/staticfiles/mainfiles/hiring/style.css" />
    <%- include('../../partials/head.ejs') %>
    <style>
      th,
      td {
        white-space: nowrap;
      }
    </style>
  </head>

  <body>
    <%- include('../../partials/navbar.ejs') %>
    <div class="container-fluid">
      <div style="padding-bottom: 5px;" >
        <input type="text" placeholder="search" id="searchItem" name="search">
        <button type="submit" id="filterCompany"> Company Name</button>
      
        <input type="number" placeholder="search" id="searchCode" name="search">
        <button type="submit" id="companyCode"> Company Code</button>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered text-center" id="jobTable">
          <thead class="table-light">
            <tr>
              <th>Job Title</th>
              <th>Stipend</th>
              <th>Job Role</th>
              <th>Location</th>
              <th>Company Name</th>
              <th>Job Description</th>
              <th>Apply</th>
            </tr>
          </thead>
          <tbody id="jobListings">
            <!-- Job listings will be added here -->
          </tbody>
        </table>
      </div>
    </div>

    <div class="parent">
      <div class="child">
        <h6>
          <a
            style="
              text-decoration: none;
              color: rgb(255, 255, 255);
              background-color: rgb(151, 134, 169);
              border-radius: 10px;
              padding: 5px 9px;
              cursor: pointer;
            "
            onclick="{handleclick()}"
          >
            Click here to view other jobs for you.
          </a>
        </h6>
      </div>
    </div>
    <script
      src="/staticfiles/mainfiles/hiring/script.js"
      type="module"
    ></script>
    <%- include('../../partials/footer.ejs') %>
  </body>
</html>
