<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Job Listings</title>
    <link rel="stylesheet" href="/staticfiles/mainfiles/hiring/style.css" />
    <%- include('../../partials/head.ejs') %>
    <style>
      th,
      td {
        white-space: nowrap;
      }
    </style>
  </head>

  <body>
    <%- include('../../partials/navbar.ejs') %>
    <div class="container-fluid">
      <!-- <div class="container" > -->
        <div class="row mt-3" style="padding: 10px;">
          <div class="col-md-4 mb-">
            <label for="company_name" style="font-weight: 500;">Company Name:</label>
            <input class="form-control"  type="search" placeholder="Search Company" class="search" id="searchCompany" name="search">
          </div>
          <div class="col-md-4 mb-">
            <label for="Profile" style="font-weight: 500;">Search:</label>
            <input class="form-control" type="search" placeholder="Search Job Profile..." class="search"  id="search" name="search">
          </div>
        </div>
      <!-- </div> -->
      <div class="table-responsive">
        
        <table class="table table-bordered text-left" id="jobTable">
          <thead class="table-light">
            <tr>
              <th>Job Title</th>
              <th>Stipend</th>
              <th class="custom-width" >Job Role</th>
              <th>Location</th>
              <th>Company Name</th>
              <th>Job Description</th>
              <th>Apply</th>
            </tr>
          </thead>
          <tbody id="jobListings">
            <!-- Job listings will be added here -->
          </tbody>
        </table>
      </div>
    </div>

    <div class="parent">
      <div class="child">
        <h6>
          <a
            style="
              text-decoration: none;
              color: rgb(255, 255, 255);
              background-color: rgb(151, 134, 169);
              border-radius: 10px;
              padding: 5px 9px;
              cursor: pointer;
            "
            href="/myaccount/jobsforyou/"
          >
            Click here to view other jobs for you.
          </a>
        </h6>
      </div>
    </div>
    <script
      src="/staticfiles/mainfiles/hiring/script.js"
      type="module"
    ></script>
    <%- include('../../partials/footer.ejs') %>
  </body>
</html>
