<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Job Listings</title>
    <link rel="stylesheet" href="style.css" />
    <%- include('../../partials/head.ejs') %>
  </head>
  <body>
    <%- include('../../partials/navbar.ejs') %>
    <table id="jobTable">
      <thead>
        <tr>
          <th>Job Title</th>
          <th>Stipend</th>
          <th>Job Role</th>
          <th>Location</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="jobListings">
        <!-- Job listings will be added here -->
      </tbody>
    </table>
    <div class="parent">
      <div class="child">
        <h6>
          <a
            style="
              text-decoration: none;
              color: rgb(255, 255, 255);
              background-color: rgb(151, 134, 169);
              border-radius: 10px;
              padding: 5px 9px;
              cursor: pointer;
            "
            onclick="{handleclick()}"
          >
            Click here to view other jobs for you.
          </a>
        </h6>
      </div>
    </div>
    <script src="script.js" type="module"></script>
    <%- include('../../partials/footer.ejs') %>
  </body>
</html>
