<!DOCTYPE html>
<html>
  <head>
    <title>CV Creation</title>
    <link rel="stylesheet" href="style.css" />
    <style>
      .back-container {
        margin-right: 20px;
      }

      .back-btn {
        border: 1px solid #586ba6;
        padding: 0.2rem 0.8rem;
        background-color: #586ba6;
        color: white;
        font-size: 1.5rem;
        text-decoration: none;
      }

      .back-btn:hover {
        background-color: #465684;
        color: white;
        transition: 0.3s ease-in-out;
      }
    </style>
    <%- include('../../partials/head.ejs') %>
  </head>
  <body>
    <%- include('../../partials/navbar.ejs') %>
    <header class="header bg-bright" id="header">
      <div class="cv_container">
        <div class="header-content text-center">
          <!-- <h6 class="text-uppercase text-blue-dark fs-14 fw-6 ls-1">Online Resume Builder</h6> -->
          <h1 class="lg-title">Stand Out in the Top 2% of Resumes</h1>
          <p class="text-dark fs-18">
            Receive expert guidance and tips to craft a highly effective resume
            that captures attention. Our step-by-step assistance ensures you
            highlight your strengths and accomplishments, making your resume
            stand out. Create a professional impression effortlessly with our
            guidance.
          </p>

          <a href="#sample_cvs" class="btn btn-primary text-uppercase"
            >View Sample CV/Resume</a
          >
          <img
            src="../assets/dublin-resume-templates.avif"
            alt="Dublin Resume Templates"
          />
        </div>
      </div>
    </header>

    <div class="section-one">
      <div class="cv_container">
        <div class="section-one-content">
          <div class="section-one-l">
            <img
              src="../assets/visual-0c7080adf17f1f207276f613447c924f667dab34b7ac415cd7ef653172defd0b.svg"
            />
          </div>
          <div class="section-one-r text-center">
            <h2 class="lg-title">
              Get Expert Guidance for Crafting Your Resume
            </h2>
            <p class="text">
              Crafting an effective resume can be challenging, but our guidance
              makes it simpler. Benefit from expert advice tailored to highlight
              your strengths and stand out to potential employers.
            </p>
            <div class="btn-group">
              <a href="#" class="btn btn-secondary text-uppercase"
                >Learn More</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-two bg-bright">
      <div class="cv_container">
        <div class="section-two-content">
          <div class="section-items">
            <div class="section-item">
              <div class="section-item-icon">
                <img
                  src="../assets/feature-1-edf4481d69166ac81917d1e40e6597c8d61aa970ad44367ce78049bf830fbda5.svg"
                  alt=""
                />
              </div>
              <h5 class="section-item-title">Empowering Student Resumes!</h5>
              <p class="text">
                Harness the power of our advanced tools to assist students in
                creating compelling resumes that resonate with recruiters,
                mentors, and professionals.
              </p>
            </div>

            <div class="section-item">
              <div class="section-item-icon">
                <img
                  src="../assets/feature-2-a7a471bd973c02a55d1b3f8aff578cd3c9a4c5ac4fc74423d94ecc04aef3492b.svg"
                  alt=""
                />
              </div>
              <h5 class="section-item-title">
                Streamlined Resume Crafting for Students!
              </h5>
              <p class="text">
                Experience a simplified resume writing process tailored for
                students, integrating pre-generated content, visually appealing
                designs, and more. Just input your details!
              </p>
            </div>

            <div class="section-item">
              <div class="section-item-icon">
                <img
                  src="../assets/feature-3-4e87a82f83e260488c36f8105e26f439fdc3ee5009372bb5e12d9421f32eabdd.svg"
                  alt=""
                />
              </div>
              <h5 class="section-item-title">
                Student-Centric Resume Support!
              </h5>
              <p class="text">
                Rely on our resume building platform endorsed by students and
                professionals alike, ensuring your resume stands out in the
                competitive academic and professional spheres.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-one" id="sample_cvs">
      <div class="cv_container">
        <h1 class="lg-title text-center">Sample CVs</h1>
        <div class="section-one-content">
          <div class="section-one-l text-center">
            <img class="cv_img" src="../assets/sample_cvs/sample_cv_1.jpg" />
            <div class="btn-group">
              <!-- <a href="../assets/sample_cvs/good cv Ayush_Meena_SDE.pdf"
                            class="btn btn-secondary text-uppercase" target="_blank">View Details</a> -->
            </div>
          </div>
          <div class="section-one-r text-center">
            <img class="cv_img" src="../assets/sample_cvs/sample_cv_2.jpg" />
            <div class="btn-group">
              <!-- <a href="../assets/sample_cvs/Rachit Goel, IIITM, Gwalior.pdf"
                            class="btn btn-secondary text-uppercase" target="_blank">View Details</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('../../partials/footer.ejs') %>
  </body>
</html>
